In [82]:
import pandas as pd
import os

In [83]:
Blast = pd.read_csv('fjc.csv')

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/1145646179.py:1: DtypeWarning: Columns (2,3,4,10,14,15,31,41,46,51,53,54,55,64,71,83,88,95,98,100,107,110,112,119,122,124) have mixed types. Specify dtype option on import or set low_memory=False.
  Blast = pd.read_csv('fjc.csv')

In [85]:
Months = []
Years = []
for result in Blast.SENTDATE:
    Months.append(result[0:2])
    Years.append(result[6:])

Blast['SENTYR']= Years
Blast['SENTMON']= Months

In [100]:
# filter dataset for correct years
import re
booleans = []
for result in Blast.SENTYR:
    if  2019 > int(result) > 2001:
        booleans.append(True)
    else:
        booleans.append(False)

Blast['Counts']=booleans

Filtered = pd.Series(booleans)
New_blast_df = Blast[Filtered]

In [95]:
New_blast_df.SENTYR.value_counts()

2011    92358
2010    89321
2009    87803
2012    87740
2008    83319
2013    83281
2006    80125
2007    79290
2005    78504
2014    77364
2003    75428
2018    74689
2004    73645
2002    72972
2015    72252
2016    70366
2017    69527
Name: SENTYR, dtype: int64

In [102]:
#recode DISTRICT variable
new_district_values=[]
for result in New_blast_df.DISTRICT:
    if result == "3A":
        new_district_values.append(30)
    elif result == "3C":
        new_district_values.append(31)
    elif result == "3E":
        new_district_values.append(32)
    elif result == "3G":
        new_district_values.append(33)
    elif result == "3J":
        new_district_values.append(34)
    elif result == "3L":
        new_district_values.append(35)
    elif result == "3N":
        new_district_values.append(96)
    elif result == "7-":
        new_district_values.append(95)
    else:
        new_district_values.append(result)

New_blast_df['DISTRICT']=new_district_values

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/2234729878.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df['DISTRICT']=new_district_values

In [103]:
# recode PRISTOT variable
new_pris_values = []
PRISTOTFLAG=[]
for result in New_blast_df.PRISTOT:
    if result == -1:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -2:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    elif result == -3:
        new_pris_values.append("NA")
        PRISTOTFLAG.append(1)
    elif result == -4:
        new_pris_values.append(9996)
        PRISTOTFLAG.append(1)
    elif result == -5:
        new_pris_values.append(9998)
        PRISTOTFLAG.append(1)
    elif result == -8:
        new_pris_values.append(0)
        PRISTOTFLAG.append(1)
    else:
        new_pris_values.append(result)
        PRISTOTFLAG.append(0)

New_blast_df["PRISTOT"]= new_pris_values

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/3076036564.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PRISTOT"]= new_pris_values

In [104]:
PROBTOTFLAG=[]
new_prob_values=[]
for result in New_blast_df.PROBTOT:
    if result == -1:
        new_prob_values.append(0)
        PROBTOTFLAG.append(1)
    elif result == -8:
        new_prob_values.append(0)
        PROBTOTFLAG.append(1)
    else:
        new_prob_values.append(result)
        PROBTOTFLAG.append(0)

New_blast_df["PROBTOT"]= new_prob_values
New_blast_df["PROBTOTFLAG"]=PROBTOTFLAG

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/846511845.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PROBTOT"]= new_prob_values
/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/846511845.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["PROBTOTFLAG"]=PROBTOTFLAG

In [157]:
x =0
y =0
new_code_values=[]

for result in New_blast_df.TTITLE5:

    if result != "-8":
        x=int(result.find(":"))+1
        y=int(result.find("."))
        new_code=result[x:y]
        if "=" in new_code:
            z=new_code.find("=")
            new_code=new_code[:z]
        if "-" in new_code:
            z=new_code.find("-")
            new_code=new_code[:z]
        

        title =result[0:x-1]
        new = title + new_code
    

        digits=[]
        w=len(new)

        for i in range(w):
            if 65 <= ord(new[i])<=90:
                pass
            if 48 <= ord(new[i]) <= 57:
                digits.append(new[i])
            else:
                pass

        new=''.join(digits)
        new = int(new)
        new_code_values.append(new)
        
    else:
        new_code_values.append(result)

New_blast_df["FJDcode10"]=new_code_values

#need to run code for all code variables FTITLES1-5 then TTITLES1-5 and rename as FJDcode1-10

/var/folders/rp/lgskb8cx1vzgzb8nb18p5vxw0000gn/T/ipykernel_32167/350228725.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_blast_df["FJDcode10"]=new_code_values

print(New_blast_df.FJDcode1.head().value_counts())
print(New_blast_df.FTITLE2.head().value_counts())

In [164]:
#turning values into ints
New_blast_df=New_blast_df.astype({"SENTYR":"int","SENTMON":"int", "PRISTOT":"int","DISTRICT":"int", "FINETOT":"int", "PROBTOT":"int", "FJDcode1":"int", "FJDcode2":"int", "FJDcode3":"int", "FJDcode4":"int", "FJDcode5":"int", "FJDcode6":"int", "FJDcode7":"int", "FJDcode8":"int", "FJDcode9":"int", "FJDcode10":"int"})

In [165]:
New_blast_df.fillna("NA",inplace=True)
New_blast_df.replace("NA",-8, inplace=True)

In [179]:
#subsetting data to 2018
FJC_2018 = New_blast_df[(New_blast_df.SENTYR == 2018)]

In [181]:
FJC_2018.to_csv(r'/Users/suanybarahona/Documents/FJC_2018.csv')
New_blast_df.to_csv(r'/Users/suanybarahona/Documents/FJC_clean.csv')

In [182]:
FJC_2018

,FISCALYR,CIRCUIT,DISTRICT,OFFICE,DOCKET,DEFNO,CTDEF,NAME,REOPSEQ,TYPEREG,...,FJDcode10,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9
4365582,2018,0,90,1,300331,15,13,NA,0,CR,...,NA,21952,21952,NA,NA,NA,21952,21952,NA,NA
4365583,2018,0,90,1,300331,16,14,NA,0,CR,...,NA,21952,21952,NA,NA,NA,21952,21952,NA,NA
4365752,2018,0,90,1,600167,1,1,NA,0,CR,...,NA,18922,21844,NA,NA,NA,18922,21844,NA,NA
4365799,2018,0,90,1,700223,7,7,NA,0,CR,...,21959,21963,21960,21960,21959,21959,21963,21960,21960,21959
4366018,2018,0,90,1,1100368,1,1,NA,0,CR,...,NA,181951,22404,NA,NA,NA,22404,181951,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807450,2019,11,34,5,1800007,1,1,NA,0,CR,...,NA,81326,NA,NA,NA,NA,81326,NA,NA,NA
4807451,2019,11,34,5,1800008,1,1,NA,0,CR,...,21841,21846,18924,21841,21841,21841,21841,21846,21841,18924
4807452,2019,11,34,5,1800008,2,2,NA,0,CR,...,NA,21846,21841,21841,21843,NA,21843,21846,21841,21841
4807453,2019,11,34,5,1800009,1,1,NA,0,CR,...,NA,81326,NA,NA,NA,NA,81326,NA,NA,NA
4807515,2019,11,34,6,1800004,1,1,NA,0,CR,...,NA,18641,NA,NA,NA,NA,18641,NA,NA,NA

In [183]:
New_blast_df

,FISCALYR,CIRCUIT,DISTRICT,OFFICE,DOCKET,DEFNO,CTDEF,NAME,REOPSEQ,TYPEREG,...,FJDcode10,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9
933290,2002,0,90,1,7,1,NA,NA,0,CR,...,NA,181962,NA,NA,NA,NA,181962,NA,NA,NA
933300,2002,0,90,1,36,1,NA,NA,0,CR,...,NA,21841,NA,NA,NA,NA,21841,NA,NA,NA
933306,2002,0,90,1,54,1,NA,NA,0,CR,...,1813,1813,1813,1813,181956,181343,181343,181343,1813,1813
933307,2002,0,90,1,54,2,NA,NA,0,CR,...,181956,1813,1813,181956,181343,181343,181343,181343,1813,1813
933320,2002,0,90,1,76,1,NA,NA,0,CR,...,NA,21846,NA,NA,NA,NA,21846,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4807450,2019,11,34,5,1800007,1,1,NA,0,CR,...,NA,81326,NA,NA,NA,NA,81326,NA,NA,NA
4807451,2019,11,34,5,1800008,1,1,NA,0,CR,...,21841,21846,18924,21841,21841,21841,21841,21846,21841,18924
4807452,2019,11,34,5,1800008,2,2,NA,0,CR,...,NA,21846,21841,21841,21843,NA,21843,21846,21841,21841
4807453,2019,11,34,5,1800009,1,1,NA,0,CR,...,NA,81326,NA,NA,NA,NA,81326,NA,NA,NA
4807515,2019,11,34,6,1800004,1,1,NA,0,CR,...,NA,18641,NA,NA,NA,NA,18641,NA,NA,NA