In [140]:
import pandas as pd
import numpy as np
from dfply import *

In [189]:
fjc = pd.read_csv('FJC_2018.csv')
ussc = pd.read_csv('mod_ussc_2018.csv')

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/661262006.py:1: DtypeWarning: Columns (4,11,42,54,65,96,108,113,120,125) have mixed types. Specify dtype option on import or set low_memory=False.
  fjc = pd.read_csv('FJC_2018.csv')

In [191]:
fjc_new = fjc[['ID','SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10']]
ussc_new = ussc[['DISTRICT', 'SENTMON', 'SENTYR', 'SENTTOT_new', 'FINE', 'PROBATN', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT','USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]
ussc_new = ussc_new.rename({'SENTTOT_new': 'PRISTOT', 'FINE': 'FINETOT', 'PROBATN': 'PROBTOT'}, axis=1)

In [192]:
fjc_new.replace(-8, 'NA', inplace=True)
fjc_new.replace('-8', 'NA', inplace=True)
fjc_new = fjc_new

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/3974322116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace(-8, 'NA', inplace=True)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/3974322116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace('-8', 'NA', inplace=True)

In [193]:
# first merge on 6 variables
fjc_ussc = pd.merge(ussc_new, fjc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10
0,88,1,2018,188.0,0,0,2436847,188.0,188.0,81326.0,...,21841,NA,NA,NA,NA,21841,NA,NA,NA,NA
1,68,1,2018,300.0,0,0,2438539,300.0,300.0,81326.0,...,21846,18924,21841,NA,NA,21846,21841,18924,NA,NA
2,68,1,2018,300.0,0,0,2438539,300.0,300.0,81326.0,...,18924,21841,18922,18922,18922,21841,18922,18922,18924,18922
3,68,1,2018,300.0,0,0,2443206,300.0,300.0,81326.0,...,21846,18924,21841,NA,NA,21846,21841,18924,NA,NA
4,68,1,2018,300.0,0,0,2443206,300.0,300.0,81326.0,...,18924,21841,18922,18922,18922,21841,18922,18922,18924,18922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358362,84,11,2018,7.0,0,0,2592540,7.0,7.0,81326.0,...,81326,NA,NA,NA,NA,81326,NA,NA,NA,NA
358363,33,10,2018,144.0,0,0,2595482,144.0,144.0,21841.0,...,21846,21841,18924,NA,NA,21841,21846,18924,NA,NA
358364,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,18922,18922,18924,NA,NA,18922,18922,18924,NA,NA
358365,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,18922,18924,NA,NA,NA,18922,18924,NA,NA,NA
358366,16,11,2018,0.0,250,0,2595911,NaN,NaN,1813.0,...,1813,NA,NA,NA,NA,1813,NA,NA,NA,NA

In [194]:
# reformat
fjc_ussc.fillna('NA', inplace=True)
fjc_ussc = fjc_ussc[['ID', 'SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]
fjc_ussc.drop_duplicates(inplace=True)
fjc_ussc

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4555469,1,2018,88,188.0,0,0,21841,NA,NA,...,NA,NA,2436847,188.0,188.0,81326.0,NA,NA,NA,NA
1,4497437,1,2018,68,300.0,0,0,21846,18924,21841,...,NA,NA,2438539,300.0,300.0,81326.0,NA,NA,NA,NA
2,4498067,1,2018,68,300.0,0,0,18924,21841,18922,...,18924,18922,2438539,300.0,300.0,81326.0,NA,NA,NA,NA
3,4497437,1,2018,68,300.0,0,0,21846,18924,21841,...,NA,NA,2443206,300.0,300.0,81326.0,NA,NA,NA,NA
4,4498067,1,2018,68,300.0,0,0,18924,21841,18922,...,18924,18922,2443206,300.0,300.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358362,4775767,11,2018,84,7.0,0,0,81326,NA,NA,...,NA,NA,2592540,7.0,7.0,81326.0,81326.0,NA,NA,NA
358363,4804737,10,2018,33,144.0,0,0,21846,21841,18924,...,NA,NA,2595482,144.0,144.0,21841.0,21841.0,NA,NA,NA
358364,4781633,11,2018,87,94.0,0,0,18922,18922,18924,...,NA,NA,2595490,94.0,94.0,18922.0,18924.0,NA,NA,NA
358365,4781634,11,2018,87,94.0,0,0,18922,18924,NA,...,NA,NA,2595490,94.0,94.0,18922.0,18924.0,NA,NA,NA
358366,4622971,11,2018,16,0.0,250,0,1813,NA,NA,...,NA,NA,2595911,NA,NA,1813.0,NA,NA,NA,NA

In [195]:
# confirm match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc.iloc[i,k] == fjc_ussc.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [197]:
# obtain true matches
matched_1 = fjc_ussc.iloc[matched,:]
matched_1.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,20,4459330,1,2018,42,10.0,0,0,18922,18922,...,NA,NA,2438543,10.0,10.0,21846.0,18922.0,21841.0,18924.0,NA
1,77,4459330,1,2018,42,10.0,0,0,18922,18922,...,NA,NA,2440976,10.0,10.0,18922.0,18924.0,NA,NA,NA
2,86,4454733,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
3,87,4454821,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
4,88,4454903,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93508,358362,4775767,11,2018,84,7.0,0,0,81326,NA,...,NA,NA,2592540,7.0,7.0,81326.0,81326.0,NA,NA,NA
93509,358362,4775767,11,2018,84,7.0,0,0,81326,NA,...,NA,NA,2592540,7.0,7.0,81326.0,81326.0,NA,NA,NA
93510,358364,4781633,11,2018,87,94.0,0,0,18922,18922,...,NA,NA,2595490,94.0,94.0,18922.0,18924.0,NA,NA,NA
93511,358365,4781634,11,2018,87,94.0,0,0,18922,18924,...,NA,NA,2595490,94.0,94.0,18922.0,18924.0,NA,NA,NA
93512,358366,4622971,11,2018,16,0.0,250,0,1813,NA,...,NA,NA,2595911,NA,NA,1813.0,NA,NA,NA,NA

In [198]:
# get first unmatched
unmatched = pd.merge(fjc_new, ussc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.00,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.00,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.00,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393111,NaN,11,2018,54,0.99,100,36,NaN,NaN,NaN,...,NaN,NaN,2593665.0,0.0,1.0,21843.0,21843.0,182.0,NaN,NaN
393112,NaN,10,2018,84,3.29,0,0,NaN,NaN,NaN,...,NaN,NaN,2594224.0,3.0,3.0,18111.0,NaN,NaN,NaN,NaN
393113,NaN,11,2018,69,6.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2595090.0,6.0,6.0,18113.0,181153.0,NaN,NaN,NaN
393114,NaN,12,2018,45,336.00,5000,0,NaN,NaN,NaN,...,NaN,NaN,2595507.0,336.0,336.0,18371.0,181622.0,181503.0,21846.0,181962.0
393115,NaN,12,2018,42,0.03,0,12,NaN,NaN,NaN,...,NaN,NaN,2595619.0,0.0,0.0,1813.0,NaN,NaN,NaN,NaN

In [199]:
# add unmatched to cases with no code match
unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])
unmatched.drop_duplicates(inplace=True)
unmatched

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/1742520927.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358362,4775767.0,11,2018,84,7.0,0,0,81326.0,NA,NA,...,NA,NA,2592540.0,7.0,7.0,81326.0,81326.0,NA,NA,NA
358363,4804737.0,10,2018,33,144.0,0,0,21846.0,21841,18924,...,NA,NA,2595482.0,144.0,144.0,21841.0,21841.0,NA,NA,NA
358364,4781633.0,11,2018,87,94.0,0,0,18922.0,18922,18924,...,NA,NA,2595490.0,94.0,94.0,18922.0,18924.0,NA,NA,NA
358365,4781634.0,11,2018,87,94.0,0,0,18922.0,18924,NA,...,NA,NA,2595490.0,94.0,94.0,18922.0,18924.0,NA,NA,NA
358366,4622971.0,11,2018,16,0.0,250,0,1813.0,NA,NA,...,NA,NA,2595911.0,NA,NA,1813.0,NA,NA,NA,NA

In [200]:
# separate unmatched
unmatched_fjc = (unmatched >>
mask(unmatched.USSCIDN.isna()) >>
drop(unmatched.floorSENTTOT, unmatched.roundSENTTOT, unmatched.USSCIDN, unmatched.USSCcode1, unmatched.USSCcode2, unmatched.USSCcode3, unmatched.USSCcode4, unmatched.USSCcode5)
)

unmatched_ussc = (unmatched >>
mask(unmatched.USSCIDN.notna()) >>
drop(unmatched.ID, unmatched.FJDcode1, unmatched.FJDcode2, unmatched.FJDcode3, unmatched.FJDcode4, unmatched.FJDcode5, unmatched.FJDcode5, unmatched.FJDcode6, unmatched.FJDcode7, unmatched.FJDcode8, unmatched.FJDcode9, unmatched.FJDcode10)
)

In [201]:
# check using roundSENTTOT
unmatched_ussc['PRISTOT'] = unmatched_ussc['roundSENTTOT']

In [202]:
# change type to merge
unmatched_fjc.PRISTOT = unmatched_fjc.PRISTOT.astype(object)

In [203]:
# second merge on 6 variables
fjc_ussc_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
1,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4366329.0,4,2018,90,0.0,0,0,21846.0,NA,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146610,4807114.0,10,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
146611,4807449.0,10,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
146612,4807450.0,10,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
146613,4806871.0,11,2018,34,1.0,0,0,1813.0,1813,NA,...,NA,NA,2503569.0,1.0,1.0,187.0,1813.0,NaN,NaN,NaN
146614,4807452.0,12,2018,34,2.0,0,0,21846.0,21841,21841,...,21841,NA,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN

In [204]:
# confirm second match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_2)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_2.iloc[i,k] == fjc_ussc_2.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [205]:
# obtain true matches
matched_2 = fjc_ussc_2.iloc[matched,:]
matched_2.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,59,4366919.0,6,2018,90,0.0,0,0,81326.0,NA,...,NA,NA,2472157.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
1,59,4366919.0,6,2018,90,0.0,0,0,81326.0,NA,...,NA,NA,2472157.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
2,78,4367725.0,4,2018,0,0.0,0,0,81326.0,NA,...,NA,NA,2462059.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
3,78,4367725.0,4,2018,0,0.0,0,0,81326.0,NA,...,NA,NA,2462059.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
4,85,4368040.0,5,2018,1,0.0,0,0,21846.0,181956,...,NA,NA,2465192.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33448,146609,4806388.0,10,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
33449,146610,4807114.0,10,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
33450,146611,4807449.0,10,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
33451,146612,4807450.0,10,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
33452,146613,4806871.0,11,2018,34,1.0,0,0,1813.0,1813,...,NA,NA,2503569.0,1.0,1.0,187.0,1813.0,NaN,NaN,NaN

In [206]:
# merge on unmatched
unmatched_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_2

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
876526,NaN,10,2018,17,NA,500,12,NaN,NaN,NaN,...,NaN,NaN,2567980.0,NA,NA,21844.0,NA,NA,NA,NA
876527,NaN,10,2018,49,NA,0,6,NaN,NaN,NaN,...,NaN,NaN,2586517.0,NA,NA,181920.0,NA,NA,NA,NA
876528,NaN,10,2018,13,NA,5000,72,NaN,NaN,NaN,...,NaN,NaN,2589822.0,NA,NA,21841.0,21860.0,21841.0,182.0,NA
876529,NaN,12,2018,84,NA,0,60,NaN,NaN,NaN,...,NaN,NaN,2592538.0,NA,NA,21858.0,NA,NA,NA,NA
876530,NaN,11,2018,16,NA,250,0,NaN,NaN,NaN,...,NaN,NaN,2595911.0,NA,NA,1813.0,NA,NA,NA,NA

In [207]:
# get unmatched
unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/2189121141.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

In [208]:
# separate unmatched

unmatched_fjc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.isna()) >>
drop(unmatched_2.floorSENTTOT, unmatched_2.roundSENTTOT, unmatched_2.USSCIDN, unmatched_2.USSCcode1, unmatched_2.USSCcode2, unmatched_2.USSCcode3, unmatched_2.USSCcode4, unmatched_2.USSCcode5)
)
unmatched_ussc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.notna()) >>
drop(unmatched_2.ID, unmatched_2.FJDcode1, unmatched_2.FJDcode2, unmatched_2.FJDcode3, unmatched_2.FJDcode4, unmatched_2.FJDcode5, unmatched_2.FJDcode5, unmatched_2.FJDcode6, unmatched_2.FJDcode7, unmatched_2.FJDcode8, unmatched_2.FJDcode9, unmatched_2.FJDcode10)
)

In [209]:
# check using floorSENTTOT

unmatched_ussc_2['PRISTOT'] = unmatched_ussc_2['floorSENTTOT']
unmatched_ussc_2

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
1,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4,2018,90,0.0,0,0,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4,2018,90,0.0,0,0,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
5,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146614,12,2018,34,1.0,0,0,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN
146614,12,2018,34,1.0,0,0,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN
146614,12,2018,34,1.0,0,0,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN
146614,12,2018,34,1.0,0,0,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN
146614,12,2018,34,1.0,0,0,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN

In [210]:
# merge again
fjc_ussc_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_3

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4371030.0,4,2018,4,91.0,0,0,21846.0,21841,21841,...,21841,18924,2456560.0,91.0,92.0,181962.0,NaN,NaN,NaN,NaN
1,4398274.0,8,2018,14,1.0,0,0,81326.0,NA,NA,...,NA,NA,2480614.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
2,4403289.0,5,2018,16,13.0,0,0,21846.0,21856,NA,...,NA,NA,2462623.0,13.0,14.0,182250.0,18111.0,NaN,NaN,NaN
3,4412027.0,2,2018,19,0.0,0,0,18924.0,21841,18922,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
4,4412405.0,2,2018,19,0.0,0,0,181349.0,181344,NA,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,4765071.0,12,2018,79,3.0,0,0,21841.0,21858,NA,...,NA,NA,2508860.0,3.0,4.0,21858.0,NaN,NaN,NaN,NaN
92,4781754.0,11,2018,87,1.0,0,0,21844.0,NA,NA,...,NA,NA,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN
93,4781780.0,11,2018,87,1.0,0,0,21844.0,NA,NA,...,NA,NA,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN
94,4781786.0,11,2018,87,1.0,0,0,21844.0,NA,NA,...,NA,NA,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN
95,4789711.0,12,2018,29,2.0,0,0,1813.0,1813,1813,...,NA,NA,2511419.0,2.0,3.0,81326.0,NaN,NaN,NaN,NaN

In [211]:
# confirm third match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_3)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_3.iloc[i,k] == fjc_ussc_3.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [212]:
# get matched
matched_3 = fjc_ussc_3.iloc[matched,:]
matched_3.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,3,4412027.0,2,2018,19,0.0,0,0,18924.0,21841,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
1,51,4541362.0,3,2018,81,1.0,0,0,81326.0,NA,...,NA,NA,2452061.0,1.0,2.0,81326.0,81326.0,NaN,NaN,NaN
2,51,4541362.0,3,2018,81,1.0,0,0,81326.0,NA,...,NA,NA,2452061.0,1.0,2.0,81326.0,81326.0,NaN,NaN,NaN
3,68,4582469.0,10,2018,0,0.0,5000,0,163372.0,NA,...,NA,NA,2497168.0,0.0,1.0,163372.0,163372.0,NaN,NaN,NaN
4,68,4582469.0,10,2018,0,0.0,5000,0,163372.0,NA,...,NA,NA,2497168.0,0.0,1.0,163372.0,163372.0,NaN,NaN,NaN
5,69,4585916.0,10,2018,4,74.0,0,0,21846.0,21841,...,21841,21841,2501023.0,74.0,75.0,21841.0,21846.0,21860.0,NaN,NaN
6,70,4591568.0,10,2018,6,11.0,0,0,21846.0,NA,...,NA,NA,2498277.0,11.0,12.0,21846.0,21841.0,NaN,NaN,NaN
7,71,4614269.0,10,2018,14,1.0,0,0,81326.0,NA,...,NA,NA,2497145.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
8,72,4699529.0,12,2018,50,13.0,0,0,18922.0,NA,...,NA,NA,2510716.0,13.0,14.0,18922.0,NaN,NaN,NaN,NaN
9,73,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
10,74,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
11,75,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
12,76,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
13,77,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
14,79,4713229.0,10,2018,61,0.0,0,0,18641.0,42408,...,NA,NA,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN
15,83,4724088.0,10,2018,69,0.0,0,0,18661.0,NA,...,NA,NA,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN
16,89,4728403.0,10,2018,70,420.0,0,0,181111.0,18113,...,181111,18113,2495092.0,420.0,421.0,181153.0,181111.0,18924.0,18113.0,NaN

In [213]:
# get unmatched
unmatched_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_3

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4366261.0,8,2018,90,68.0,0,0,181957.0,181957,29501,...,29186,181343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4366269.0,3,2018,90,168.0,0,36,18641.0,18641,181028,...,181028,181028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4366303.0,2,2018,90,12.0,0,60,1813.0,1813,1813,...,1813,181343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4366442.0,4,2018,90,168.0,0,0,21841.0,21841,21841,...,21841,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1576107,NaN,10,2018,17,NA,500,12,NaN,NaN,NaN,...,NaN,NaN,2567980.0,NA,NA,21844.0,NA,NA,NA,NA
1576108,NaN,10,2018,49,NA,0,6,NaN,NaN,NaN,...,NaN,NaN,2586517.0,NA,NA,181920.0,NA,NA,NA,NA
1576109,NaN,10,2018,13,NA,5000,72,NaN,NaN,NaN,...,NaN,NaN,2589822.0,NA,NA,21841.0,21860.0,21841.0,182.0,NA
1576110,NaN,12,2018,84,NA,0,60,NaN,NaN,NaN,...,NaN,NaN,2592538.0,NA,NA,21858.0,NA,NA,NA,NA
1576111,NaN,11,2018,16,NA,250,0,NaN,NaN,NaN,...,NaN,NaN,2595911.0,NA,NA,1813.0,NA,NA,NA,NA

In [214]:
# get unmatched
unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/2189233870.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

In [215]:
# get total matched
matched_2018 = pd.concat([matched_1, matched_2, matched_3], axis=0)
matched_2018.drop_duplicates(inplace=True)
matched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
20,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2438543.0,10.0,10.0,21846.0,18922.0,21841.0,18924.0,NA
77,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2440976.0,10.0,10.0,18922.0,18924.0,NA,NA,NA
86,4454733.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
87,4454821.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
88,4454903.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,4699529.0,12,2018,50,13.0,0,0,18922.0,NA,NA,...,NA,NA,2510716.0,13.0,14.0,18922.0,NaN,NaN,NaN,NaN
73,4699763.0,10,2018,50,1.0,0,0,81326.0,NA,NA,...,NA,NA,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN
79,4713229.0,10,2018,61,0.0,0,0,18641.0,42408,NA,...,NA,NA,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN
83,4724088.0,10,2018,69,0.0,0,0,18661.0,NA,NA,...,NA,NA,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN
89,4728403.0,10,2018,70,420.0,0,0,181111.0,18113,181111,...,181111,18113,2495092.0,420.0,421.0,181153.0,181111.0,18924.0,18113.0,NaN

In [216]:
# get total unmatched
unmatched_2018 = pd.concat([unmatched, unmatched_2, unmatched_3], axis=0)
unmatched_2018.drop_duplicates(inplace=True)
unmatched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513299,NaN,12,2018,56,3.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2519120.0,3.0,4.0,81326.0,NaN,NaN,NaN,NaN
1513325,NaN,11,2018,8,58.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2542894.0,58.0,59.0,21846.0,181951.0,18924.0,18924.0,182.0
1513329,NaN,10,2018,79,4.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2555192.0,4.0,5.0,81326.0,NaN,NaN,NaN,NaN
1513330,NaN,12,2018,79,7.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2555223.0,7.0,8.0,81326.0,NaN,NaN,NaN,NaN
1513347,NaN,11,2018,54,0.0,100,36,NaN,NaN,NaN,...,NaN,NaN,2593665.0,0.0,1.0,21843.0,21843.0,182.0,NaN,NaN

In [233]:
# remove duplicates and move to unmatched
unmatched_2018 = pd.concat([matched_2018.loc[matched_2018.duplicated(subset=['USSCIDN'], keep=False)], unmatched_2018], axis=0)

In [218]:
# remove duplicates and move to unmatched
unmatched_2018 = pd.concat([matched_2018.loc[matched_2018.duplicated(subset=['ID'], keep=False)], unmatched_2018], axis=0)

In [219]:
# drop duplicates
matched_2018 = matched_2018.drop_duplicates(subset=['ID'], keep=False)
matched_2018 = matched_2018.drop_duplicates(subset=['USSCIDN'], keep=False)

In [221]:
matched_2018.to_csv('matched_2018.csv', index=False)

In [ ]:
unmatched_2018 = unmatched_2018.drop_duplicates()

In [230]:
unmatched_2018.to_csv('unmatched_2018.csv', index=False)

In [129]:
#matched_2018.loc[matched_2018.duplicated(subset=['USSCIDN'], keep=False)].to_csv('matched_2018_USSCIDN_duplicates.csv', index=False)

In [130]:
#matched_2018.loc[matched_2018.duplicated(subset=['ID'], keep=False)].to_csv('matched_2018_ID_duplicates.csv', index=False)