In [159]:
import pandas as pd
from dfply import *

In [161]:
final = pd.read_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/finalDs_2018.csv')
fjc = pd.read_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/fjc_2018.csv')
ussc = pd.read_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/ussc_2018.csv')

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/1392558462.py:1: DtypeWarning: Columns (100,181,201,206,211,216,221,223,245,252,257,264,269,276,281,288,329,341,346,358,367,368,396,397,398,399,400,401,402,405,406,409,410,411,412,413,414,415,416,417,534,535,543,544,546,547) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/finalDs_2018.csv')
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/1392558462.py:2: DtypeWarning: Columns (4,11,42,54,65,96,108,113,120,125) have mixed types. Specify dtype option on import or set low_memory=False.
  fjc = pd.read_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/fjc_2018.csv')

In [162]:
fjc_new = fjc[['DISTRICT','SENTMON', 'SENTYR', 'PRISTOT', 'FINETOT', 'PROBTOT', 'ID', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY']]
ussc_new = ussc[['DISTRICT', 'SENTMON', 'SENTYR', 'SENTTOT_new', 'FINE', 'PROBATN', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT','USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]
ussc_new = ussc_new.rename({'SENTTOT_new': 'PRISTOT', 'FINE': 'FINETOT', 'PROBATN': 'PROBTOT'}, axis=1)
fjc_new.replace(-8, 'NA', inplace=True)
fjc_new.replace('-8', 'NA', inplace=True)
fjc_new = fjc_new
final_new = final[['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY', 'USSCIDN', 'USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/3929825844.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace(-8, 'NA', inplace=True)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/3929825844.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace('-8', 'NA', inplace=True)

In [163]:
ussc_match = pd.merge(ussc_new, final_new, on = 'USSCIDN')
ussc_match

,DISTRICT_x,SENTMON_x,SENTYR_x,PRISTOT_x,FINETOT_x,PROBTOT_x,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1_x,...,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY,USSCcode1_y,USSCcode2_y,USSCcode3_y,USSCcode4_y,USSCcode5_y
0,88,1,2018,188.00,0,0,2436847,188.0,188.0,81326.0,...,NaN,NaN,NaN,1600609,108821600609CR0010,21841.0,NaN,NaN,NaN,NaN
1,22,1,2018,0.03,0,0,2438538,0.0,0.0,21846.0,...,NaN,NaN,NaN,1700221,042211700221CR0010,81326.0,NaN,NaN,NaN,NaN
2,68,1,2018,300.00,0,0,2438539,300.0,300.0,81326.0,...,18924.0,NaN,NaN,1500157,086811500157CR0010,21841.0,18924.0,21841.0,182.0,21846.0
3,51,1,2018,63.00,0,0,2438541,63.0,63.0,21841.0,...,NaN,NaN,NaN,1720143,065121720143CR0010,18922.0,NaN,NaN,NaN,NaN
4,82,1,2018,2.23,0,0,2438542,2.0,2.0,21846.0,...,NaN,NaN,NaN,1700288,108211700288CR0010,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23192,16,9,2018,144.00,0,0,2515500,144.0,144.0,NaN,...,NaN,NaN,NaN,1800156,041681800156CR0010,21846.0,NaN,NaN,NaN,NaN
23193,74,9,2018,14.95,0,0,2515502,14.0,15.0,NaN,...,NaN,NaN,NaN,1802867,097431802867CR0010,81326.0,81326.0,NaN,NaN,NaN
23194,31,8,2018,240.00,0,0,2515560,240.0,240.0,NaN,...,181951.0,18924.0,18924.0,1720777,113C11720777CR0010,181951.0,18924.0,NaN,NaN,NaN
23195,73,9,2018,6.00,0,0,2516444,6.0,6.0,NaN,...,NaN,NaN,NaN,1700136,097381700136CR0010,181344.0,182.0,NaN,NaN,NaN
23196,45,6,2018,90.00,0,0,2519666,90.0,90.0,NaN,...,182113.0,NaN,NaN,1620680,064521620680CR0010,182113.0,NaN,NaN,NaN,NaN

In [164]:
ussc_match.drop(['SENTMON_x','SENTYR_x', 'DISTRICT_x', 'PRISTOT_x', 'FINETOT_x', 'PROBTOT_x', 'USSCcode1_x', 'USSCcode2_x', 'USSCcode3_x', 'USSCcode4_x','USSCcode5_x'], axis=1, inplace=True)

In [165]:
ussc_match.columns

Index(['USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'SENTMON_y', 'SENTYR_y',
       'DISTRICT_y', 'PRISTOT_y', 'FINETOT_y', 'PROBTOT_y', 'FJDcode1',
       'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7',
       'FJDcode8', 'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY', 'USSCcode1_y',
       'USSCcode2_y', 'USSCcode3_y', 'USSCcode4_y', 'USSCcode5_y'],
      dtype='object')

In [166]:
ussc_match = ussc_match.rename({'SENTMON_y': 'SENTMON', 'SENTYR_y': 'SENTYR', 'DISTRICT_y': 'DISTRICT', 'PRISTOT_y': 'PRISTOT', 'FINETOT_y': 'FINETOT', 'PROBTOT_y': 'PROBTOT', 'USSCcode1_y': 'USSCcode1', 'USSCcode2_y': 'USSCcode2', 'USSCcode3_y': 'USSCcode3', 'USSCcode4_y': 'USSCcode4', 'USSCcode5_y': 'USSCcode5'}, axis=1)

In [167]:
ussc_match

,USSCIDN,floorSENTTOT,roundSENTTOT,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,...,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,2436847,188.0,188.0,1,2018,88,188,0.0,0,21841.0,...,NaN,NaN,NaN,1600609,108821600609CR0010,21841.0,NaN,NaN,NaN,NaN
1,2438538,0.0,0.0,1,2018,22,0,0.0,0,81326.0,...,NaN,NaN,NaN,1700221,042211700221CR0010,81326.0,NaN,NaN,NaN,NaN
2,2438539,300.0,300.0,1,2018,68,300,0.0,0,21846.0,...,18924.0,NaN,NaN,1500157,086811500157CR0010,21841.0,18924.0,21841.0,182.0,21846.0
3,2438541,63.0,63.0,1,2018,51,63,0.0,0,18922.0,...,NaN,NaN,NaN,1720143,065121720143CR0010,18922.0,NaN,NaN,NaN,NaN
4,2438542,2.0,2.0,1,2018,82,2,0.0,0,81326.0,...,NaN,NaN,NaN,1700288,108211700288CR0010,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23192,2515500,144.0,144.0,9,2018,16,144,0.0,0,21846.0,...,NaN,NaN,NaN,1800156,041681800156CR0010,21846.0,NaN,NaN,NaN,NaN
23193,2515502,14.0,15.0,9,2018,74,14,0.0,0,81326.0,...,NaN,NaN,NaN,1802867,097431802867CR0010,81326.0,81326.0,NaN,NaN,NaN
23194,2515560,240.0,240.0,8,2018,31,240,0.0,0,18924.0,...,181951.0,18924.0,18924.0,1720777,113C11720777CR0010,181951.0,18924.0,NaN,NaN,NaN
23195,2516444,6.0,6.0,9,2018,73,6,0.0,0,181028.0,...,NaN,NaN,NaN,1700136,097381700136CR0010,181344.0,182.0,NaN,NaN,NaN
23196,2519666,90.0,90.0,6,2018,45,90,0.0,0,182113.0,...,182113.0,NaN,NaN,1620680,064521620680CR0010,182113.0,NaN,NaN,NaN,NaN

In [173]:
fjc_match = pd.merge(fjc_new, final_new, on ='DEFLGKY')
fjc_match

,DISTRICT_x,SENTMON_x,SENTYR_x,PRISTOT_x,FINETOT_x,PROBTOT_x,ID,FJDcode1_x,FJDcode2_x,FJDcode3_x,...,FJDcode8_y,FJDcode9_y,FJDcode10_y,DOCKET_y,USSCIDN,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,90,2,2018,9996.0,0,0,4365582,21952,21952,NA,...,NaN,NaN,NaN,300331,2448935.0,21952.0,21959.0,21960.0,NaN,NaN
1,90,5,2018,9996.0,0,0,4365583,21952,21952,NA,...,NaN,NaN,NaN,300331,2464896.0,21952.0,21960.0,21963.0,NaN,NaN
2,90,9,2018,42.0,0,0,4366204,181957,181344,181014,...,181957.0,181344.0,181014.0,1400179,2493156.0,181344.0,NaN,NaN,NaN,NaN
3,90,6,2018,216.0,0,0,4366217,18924,18924,18924,...,18924.0,21841.0,18922.0,1400231,2472159.0,21841.0,18924.0,21841.0,NaN,NaN
4,90,2,2018,300.0,0,0,4366250,1813,182251,181591,...,181591.0,1813.0,182251.0,1500117,2446771.0,181591.0,182251.0,181591.0,181594.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23201,34,9,2018,140.0,0,0,4580072,21841,21841,21841,...,21841.0,21843.0,21846.0,1600005,2489177.0,21841.0,21841.0,NaN,NaN,NaN
23202,34,4,2018,12.0,0,0,4580076,18656,NA,NA,...,NaN,NaN,NaN,1700002,2457993.0,18656.0,NaN,NaN,NaN,NaN
23203,34,1,2018,37.0,0,0,4580077,18922,NA,NA,...,NaN,NaN,NaN,1700003,2444129.0,18922.0,18924.0,NaN,NaN,NaN
23204,34,4,2018,18.0,0,0,4580078,182250,NA,NA,...,NaN,NaN,NaN,1700004,2458000.0,182250.0,NaN,NaN,NaN,NaN
23205,34,2,2018,8.0,0,0,4580079,181347,NA,NA,...,NaN,NaN,NaN,1700005,2447369.0,181347.0,182.0,NaN,NaN,NaN

In [175]:
fjc_match = fjc_match.drop_duplicates(subset='DEFLGKY')
fjc_match

,DISTRICT_x,SENTMON_x,SENTYR_x,PRISTOT_x,FINETOT_x,PROBTOT_x,ID,FJDcode1_x,FJDcode2_x,FJDcode3_x,...,FJDcode8_y,FJDcode9_y,FJDcode10_y,DOCKET_y,USSCIDN,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,90,2,2018,9996.0,0,0,4365582,21952,21952,NA,...,NaN,NaN,NaN,300331,2448935.0,21952.0,21959.0,21960.0,NaN,NaN
1,90,5,2018,9996.0,0,0,4365583,21952,21952,NA,...,NaN,NaN,NaN,300331,2464896.0,21952.0,21960.0,21963.0,NaN,NaN
2,90,9,2018,42.0,0,0,4366204,181957,181344,181014,...,181957.0,181344.0,181014.0,1400179,2493156.0,181344.0,NaN,NaN,NaN,NaN
3,90,6,2018,216.0,0,0,4366217,18924,18924,18924,...,18924.0,21841.0,18922.0,1400231,2472159.0,21841.0,18924.0,21841.0,NaN,NaN
4,90,2,2018,300.0,0,0,4366250,1813,182251,181591,...,181591.0,1813.0,182251.0,1500117,2446771.0,181591.0,182251.0,181591.0,181594.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23201,34,9,2018,140.0,0,0,4580072,21841,21841,21841,...,21841.0,21843.0,21846.0,1600005,2489177.0,21841.0,21841.0,NaN,NaN,NaN
23202,34,4,2018,12.0,0,0,4580076,18656,NA,NA,...,NaN,NaN,NaN,1700002,2457993.0,18656.0,NaN,NaN,NaN,NaN
23203,34,1,2018,37.0,0,0,4580077,18922,NA,NA,...,NaN,NaN,NaN,1700003,2444129.0,18922.0,18924.0,NaN,NaN,NaN
23204,34,4,2018,18.0,0,0,4580078,182250,NA,NA,...,NaN,NaN,NaN,1700004,2458000.0,182250.0,NaN,NaN,NaN,NaN
23205,34,2,2018,8.0,0,0,4580079,181347,NA,NA,...,NaN,NaN,NaN,1700005,2447369.0,181347.0,182.0,NaN,NaN,NaN

In [176]:
fjc_match.drop(['SENTMON_x','SENTYR_x', 'DISTRICT_x', 'PRISTOT_x', 'FINETOT_x', 'PROBTOT_x', 'FJDcode1_x', 'FJDcode2_x', 'FJDcode3_x', 'FJDcode4_x', 'FJDcode5_x', 'FJDcode6_x', 'FJDcode7_x', 'FJDcode8_x', 'FJDcode9_x', 'FJDcode10_x', 'DOCKET_x'], axis=1, inplace=True)

In [177]:
fjc_match = fjc_match.rename({'SENTMON_y': 'SENTMON', 'SENTYR_y': 'SENTYR', 'DISTRICT_y': 'DISTRICT', 'PRISTOT_y': 'PRISTOT', 'FINETOT_y': 'FINETOT', 'PROBTOT_y': 'PROBTOT', 'FJDcode1_y': 'FJDcode1', 'FJDcode2_y': 'FJDcode2', 'FJDcode3_y': 'FJDcode3', 'FJDcode4_y': 'FJDcode4', 'FJDcode5_y': 'FJDcode5', 'FJDcode6_y': 'FJDcode6', 'FJDcode7_y': 'FJDcode7', 'FJDcode8_y': 'FJDcode8', 'FJDcode9_y': 'FJDcode9', 'FJDcode10_y': 'FJDcode10', 'DOCKET_y':'DOCKET'}, axis=1)

In [178]:
fjc_match

,ID,DEFLGKY,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode8,FJDcode9,FJDcode10,DOCKET,USSCIDN,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582,009010300331CR0150,2,2018,90,9996,0.0,0,21952.0,21952.0,...,NaN,NaN,NaN,300331,2448935.0,21952.0,21959.0,21960.0,NaN,NaN
1,4365583,009010300331CR0160,5,2018,90,9996,0.0,0,21952.0,21952.0,...,NaN,NaN,NaN,300331,2464896.0,21952.0,21960.0,21963.0,NaN,NaN
2,4366204,009011400179CR0010,9,2018,90,42,0.0,0,181957.0,181344.0,...,181957.0,181344.0,181014.0,1400179,2493156.0,181344.0,NaN,NaN,NaN,NaN
3,4366217,009011400231CR0010,6,2018,90,216,0.0,0,18924.0,18924.0,...,18924.0,21841.0,18922.0,1400231,2472159.0,21841.0,18924.0,21841.0,NaN,NaN
4,4366250,009011500117CR0010,2,2018,90,300,0.0,0,1813.0,182251.0,...,181591.0,1813.0,182251.0,1500117,2446771.0,181591.0,182251.0,181591.0,181594.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23201,4580072,113J61600005CR0010,9,2018,34,140,0.0,0,21841.0,21841.0,...,21841.0,21843.0,21846.0,1600005,2489177.0,21841.0,21841.0,NaN,NaN,NaN
23202,4580076,113J61700002CR0010,4,2018,34,12,0.0,0,18656.0,NaN,...,NaN,NaN,NaN,1700002,2457993.0,18656.0,NaN,NaN,NaN,NaN
23203,4580077,113J61700003CR0010,1,2018,34,37,0.0,0,18922.0,NaN,...,NaN,NaN,NaN,1700003,2444129.0,18922.0,18924.0,NaN,NaN,NaN
23204,4580078,113J61700004CR0010,4,2018,34,18,0.0,0,182250.0,NaN,...,NaN,NaN,NaN,1700004,2458000.0,182250.0,NaN,NaN,NaN,NaN
23205,4580079,113J61700005CR0010,2,2018,34,8,0.0,0,181347.0,NaN,...,NaN,NaN,NaN,1700005,2447369.0,181347.0,182.0,NaN,NaN,NaN

In [179]:
match_2018 = pd.merge(ussc_match, fjc_match, on = ['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY', 'USSCIDN', 'USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5'])
match_2018

,USSCIDN,floorSENTTOT,roundSENTTOT,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,...,FJDcode9,FJDcode10,DOCKET,DEFLGKY,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,ID
0,2436847,188.0,188.0,1,2018,88,188,0.0,0,21841.0,...,NaN,NaN,1600609,108821600609CR0010,21841.0,NaN,NaN,NaN,NaN,4555469
1,2438538,0.0,0.0,1,2018,22,0,0.0,0,81326.0,...,NaN,NaN,1700221,042211700221CR0010,81326.0,NaN,NaN,NaN,NaN,4417115
2,2438539,300.0,300.0,1,2018,68,300,0.0,0,21846.0,...,NaN,NaN,1500157,086811500157CR0010,21841.0,18924.0,21841.0,182.0,21846.0,4497437
3,2438541,63.0,63.0,1,2018,51,63,0.0,0,18922.0,...,NaN,NaN,1720143,065121720143CR0010,18922.0,NaN,NaN,NaN,NaN,4477386
4,2438542,2.0,2.0,1,2018,82,2,0.0,0,81326.0,...,NaN,NaN,1700288,108211700288CR0010,81326.0,NaN,NaN,NaN,NaN,4543256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23192,2515500,144.0,144.0,9,2018,16,144,0.0,0,21846.0,...,NaN,NaN,1800156,041681800156CR0010,21846.0,NaN,NaN,NaN,NaN,4406842
23193,2515502,14.0,15.0,9,2018,74,14,0.0,0,81326.0,...,NaN,NaN,1802867,097431802867CR0010,81326.0,81326.0,NaN,NaN,NaN,4529911
23194,2515560,240.0,240.0,8,2018,31,240,0.0,0,18924.0,...,18924.0,18924.0,1720777,113C11720777CR0010,181951.0,18924.0,NaN,NaN,NaN,4569901
23195,2516444,6.0,6.0,9,2018,73,6,0.0,0,181028.0,...,NaN,NaN,1700136,097381700136CR0010,181344.0,182.0,NaN,NaN,NaN,4521663
23196,2519666,90.0,90.0,6,2018,45,90,0.0,0,182113.0,...,NaN,NaN,1620680,064521620680CR0010,182113.0,NaN,NaN,NaN,NaN,4467799

In [180]:
match_2018.to_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/match_2018.csv', index=False)

In [181]:
fjc_q4 = fjc_new[fjc_new['SENTMON'] > 9]
ussc_q4 = ussc_new[ussc_new['SENTMON'] > 9]

In [182]:
fjc_q4.shape, ussc_q4.shape

((18723, 19), (18005, 14))

In [183]:
q4 = pd.merge(ussc_q4, fjc_q4, on = ['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
q4

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY
0,67,10,2018,30.0,0,0,2492676,30.0,30.0,21841.0,...,NA,NA,NA,21841,NA,NA,NA,NA,1700237,086781700237CR0020
1,67,10,2018,30.0,0,0,2492676,30.0,30.0,21841.0,...,181957,181341,181343,181957,181341,18472,181957,181343,1800052,086781800052CR0010
2,67,10,2018,30.0,0,0,2492676,30.0,30.0,21841.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1800122,086781800122CR0010
3,67,10,2018,30.0,0,0,2494915,30.0,30.0,81326.0,...,NA,NA,NA,21841,NA,NA,NA,NA,1700237,086781700237CR0020
4,67,10,2018,30.0,0,0,2494915,30.0,30.0,81326.0,...,181957,181341,181343,181957,181341,18472,181957,181343,1800052,086781800052CR0010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88184,84,11,2018,7.0,0,0,2592540,7.0,7.0,81326.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1803447,108421803447CR0010
88185,33,10,2018,144.0,0,0,2595482,144.0,144.0,21841.0,...,18924,NA,NA,21841,21846,18924,NA,NA,1700006,113G11700006CR0070
88186,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,18924,NA,NA,18922,18922,18924,NA,NA,1800097,108751800097CR0010
88187,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,NA,NA,NA,18922,18924,NA,NA,NA,1800098,108751800098CR0010
88188,16,11,2018,0.0,250,0,2595911,NaN,NaN,1813.0,...,NA,NA,NA,1813,NA,NA,NA,NA,1802981,041681802981MJ0010

In [184]:
q4.columns

Index(['DISTRICT', 'SENTMON', 'SENTYR', 'PRISTOT', 'FINETOT', 'PROBTOT',
       'USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'USSCcode1', 'USSCcode2',
       'USSCcode3', 'USSCcode4', 'USSCcode5', 'ID', 'FJDcode1', 'FJDcode2',
       'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8',
       'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY'],
      dtype='object')

In [185]:
matched = []
no_match = []

for i in range(len(q4)):
    for j in range(9,14):
        for k in range(15,25):
            if q4.iloc[i,k] != q4.iloc[i,j]:
                no_match.append(i)
            elif q4.iloc[i,k] == q4.iloc[i,j] != 'NA':
                matched.append(i)
                break # break k
            break # break j

In [186]:
matched_1 = q4.iloc[matched,:]
matched_1

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY
0,67,10,2018,30.0,0,0,2492676,30.0,30.0,21841.0,...,NA,NA,NA,21841,NA,NA,NA,NA,1700237,086781700237CR0020
0,67,10,2018,30.0,0,0,2492676,30.0,30.0,21841.0,...,NA,NA,NA,21841,NA,NA,NA,NA,1700237,086781700237CR0020
5,67,10,2018,30.0,0,0,2494915,30.0,30.0,81326.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1800122,086781800122CR0010
5,67,10,2018,30.0,0,0,2494915,30.0,30.0,81326.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1800122,086781800122CR0010
18,31,10,2018,18.0,0,0,2492680,18.0,18.0,81324.0,...,NA,NA,NA,81324,81324,NA,NA,NA,1810016,113C41810016CR0010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88184,84,11,2018,7.0,0,0,2592540,7.0,7.0,81326.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1803447,108421803447CR0010
88184,84,11,2018,7.0,0,0,2592540,7.0,7.0,81326.0,...,NA,NA,NA,81326,NA,NA,NA,NA,1803447,108421803447CR0010
88186,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,18924,NA,NA,18922,18922,18924,NA,NA,1800097,108751800097CR0010
88187,87,11,2018,94.0,0,0,2595490,94.0,94.0,18922.0,...,NA,NA,NA,18922,18924,NA,NA,NA,1800098,108751800098CR0010
88188,16,11,2018,0.0,250,0,2595911,NaN,NaN,1813.0,...,NA,NA,NA,1813,NA,NA,NA,NA,1802981,041681802981MJ0010

In [187]:
q4_unmatch = pd.merge(ussc_q4, fjc_q4, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
q4_unmatch

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY
0,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,NA,21841.0,NA,NA,NA,NA,1700237.0,086781700237CR0020
1,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,181957,181341,181343,181957.0,181341,18472,181957,181343,1800052.0,086781800052CR0010
2,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,NA,81326.0,NA,NA,NA,NA,1800122.0,086781800122CR0010
3,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,NA,NA,NA,21841.0,NA,NA,NA,NA,1700237.0,086781700237CR0020
4,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,181957,181341,181343,181957.0,181341,18472,181957,181343,1800052.0,086781800052CR0010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97177,34,11,2018,2.0,0,0,NaN,NaN,NaN,NaN,...,NA,NA,NA,181791.0,NA,NA,NA,NA,1800037.0,113J21800037CR0010
97178,34,11,2018,0.0,0,6,NaN,NaN,NaN,NaN,...,NA,NA,NA,18113.0,NA,NA,NA,NA,1800014.0,113J31800014CR0010
97179,34,11,2018,1.0,0,0,NaN,NaN,NaN,NaN,...,NA,NA,NA,1813.0,1813,NA,NA,NA,1800222.0,113J41800222CR0010
97180,34,12,2018,180.0,0,0,NaN,NaN,NaN,NaN,...,21841,21841,21841,21841.0,21846,21841,18924,21841,1800008.0,113J51800008CR0010
97181,34,12,2018,2.0,0,0,NaN,NaN,NaN,NaN,...,21841,21843,NA,21843.0,21846,21841,21841,NA,1800008.0,113J51800008CR0020

In [188]:
unmatched = q4_unmatch.append(q4.iloc[no_match,:])
unmatched.drop_duplicates(inplace=True)
unmatched

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/2925169856.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched = q4_unmatch.append(q4.iloc[no_match,:])

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10,DOCKET,DEFLGKY
0,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,NA,21841.0,NA,NA,NA,NA,1700237.0,086781700237CR0020
1,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,181957,181341,181343,181957.0,181341,18472,181957,181343,1800052.0,086781800052CR0010
2,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,NA,81326.0,NA,NA,NA,NA,1800122.0,086781800122CR0010
3,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,NA,NA,NA,21841.0,NA,NA,NA,NA,1700237.0,086781700237CR0020
4,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,181957,181341,181343,181957.0,181341,18472,181957,181343,1800052.0,086781800052CR0010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97177,34,11,2018,2.0,0,0,NaN,NaN,NaN,NaN,...,NA,NA,NA,181791.0,NA,NA,NA,NA,1800037.0,113J21800037CR0010
97178,34,11,2018,0.0,0,6,NaN,NaN,NaN,NaN,...,NA,NA,NA,18113.0,NA,NA,NA,NA,1800014.0,113J31800014CR0010
97179,34,11,2018,1.0,0,0,NaN,NaN,NaN,NaN,...,NA,NA,NA,1813.0,1813,NA,NA,NA,1800222.0,113J41800222CR0010
97180,34,12,2018,180.0,0,0,NaN,NaN,NaN,NaN,...,21841,21841,21841,21841.0,21846,21841,18924,21841,1800008.0,113J51800008CR0010
97181,34,12,2018,2.0,0,0,NaN,NaN,NaN,NaN,...,21841,21843,NA,21843.0,21846,21841,21841,NA,1800008.0,113J51800008CR0020

In [189]:
unmatched_fjc = (unmatched >>
mask(unmatched.USSCIDN.isna()) >>
drop(unmatched.floorSENTTOT, unmatched.roundSENTTOT, unmatched.USSCIDN, unmatched.USSCcode1, unmatched.USSCcode2, unmatched.USSCcode3, unmatched.USSCcode4, unmatched.USSCcode5)
)

unmatched_ussc = (unmatched >>
mask(unmatched.USSCIDN.notna()) >>
drop(unmatched.ID, unmatched.FJDcode1, unmatched.FJDcode2, unmatched.FJDcode3, unmatched.FJDcode4, unmatched.FJDcode5, unmatched.FJDcode5, unmatched.FJDcode6, unmatched.FJDcode7, unmatched.FJDcode8, unmatched.FJDcode9, unmatched.FJDcode10, unmatched.DOCKET)
)

In [190]:
unmatched_ussc['PRISTOT'] = unmatched_ussc['roundSENTTOT']
unmatched_fjc.PRISTOT = unmatched_fjc.PRISTOT.astype(object)

In [191]:
# second merge on 6 variables
fjc_ussc_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_2

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y
0,90,10,2018,0.0,0,0,4580723.0,181951.0,181951,NA,...,009011400022CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
1,90,10,2018,0.0,0,0,4580723.0,181951.0,181951,NA,...,009011400022CR0010,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
2,90,10,2018,0.0,0,0,4580976.0,21846.0,21846,21846,...,009011300200CR0060,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
3,90,10,2018,0.0,0,0,4580976.0,21846.0,21846,21846,...,009011300200CR0060,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
4,90,10,2018,0.0,0,0,4581478.0,18751.0,NA,NA,...,009011800183CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42387,34,10,2018,0.0,0,0,4807114.0,81326.0,NA,NA,...,113J41800164CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42388,34,10,2018,0.0,0,0,4807449.0,81326.0,NA,NA,...,113J51800006CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42389,34,10,2018,0.0,0,0,4807450.0,81326.0,NA,NA,...,113J51800007CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42390,34,11,2018,1.0,0,0,4806871.0,1813.0,1813,NA,...,113J41800222CR0010,2503569.0,1.0,1.0,187.0,1813.0,NaN,NaN,NaN,NaN
42391,34,12,2018,2.0,0,0,4807452.0,21846.0,21841,21841,...,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN

In [192]:
# confirm second match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_2)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_2.iloc[i,k] != fjc_ussc_2.iloc[i,j]:
                no_match.append(i)
            elif fjc_ussc_2.iloc[i,k] == fjc_ussc_2.iloc[i,j] != 'NA':
                matched.append(i)
                break # break k
            break # break j

In [193]:
# obtain true matches
matched_2 = fjc_ussc_2.iloc[matched,:]
matched_2

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y
0,90,10,2018,0.0,0,0,4580723.0,181951.0,181951,NA,...,009011400022CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
5,90,10,2018,0.0,0,0,4581478.0,18751.0,NA,NA,...,009011800183CR0010,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
7,90,10,2018,0.0,0,0,4581479.0,18751.0,NA,NA,...,009011800184CR0010,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
14,90,11,2018,0.0,0,0,4580982.0,21846.0,NA,NA,...,009011300222CR0010,2505705.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN,NaN
20,90,11,2018,0.0,0,0,4581055.0,181956.0,NA,NA,...,009011600145CR0010,2505786.0,0.0,0.0,181956.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42386,34,10,2018,0.0,0,0,4806388.0,81326.0,NA,NA,...,113J21800027CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42387,34,10,2018,0.0,0,0,4807114.0,81326.0,NA,NA,...,113J41800164CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42388,34,10,2018,0.0,0,0,4807449.0,81326.0,NA,NA,...,113J51800006CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42389,34,10,2018,0.0,0,0,4807450.0,81326.0,NA,NA,...,113J51800007CR0010,2496193.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN,NaN
42390,34,11,2018,1.0,0,0,4806871.0,1813.0,1813,NA,...,113J41800222CR0010,2503569.0,1.0,1.0,187.0,1813.0,NaN,NaN,NaN,NaN

In [194]:
# merge on unmatched
unmatched_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_2

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y
0,90,12,2018,164.0,0,0,4580554.0,18924.0,21841,18922,...,009011100242CR0010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,10,2018,0.0,0,0,4580723.0,181951.0,181951,NA,...,009011400022CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
2,90,10,2018,0.0,0,0,4580723.0,181951.0,181951,NA,...,009011400022CR0010,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
3,90,10,2018,0.0,0,0,4580976.0,21846.0,21846,21846,...,009011300200CR0060,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
4,90,10,2018,0.0,0,0,4580976.0,21846.0,21846,21846,...,009011300200CR0060,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135128,87,11,2018,94.0,0,0,NaN,NaN,NaN,NaN,...,NaN,2595490.0,94.0,94.0,18922.0,18924.0,NaN,NaN,NaN,108751800097CR0010
135129,87,11,2018,94.0,0,0,NaN,NaN,NaN,NaN,...,NaN,2595490.0,94.0,94.0,18922.0,18924.0,NaN,NaN,NaN,108751800098CR0010
135130,45,12,2018,336.0,5000,0,NaN,NaN,NaN,NaN,...,NaN,2595507.0,336.0,336.0,18371.0,181622.0,181503.0,21846.0,181962.0,NaN
135131,42,12,2018,0.0,0,12,NaN,NaN,NaN,NaN,...,NaN,2595619.0,0.0,0.0,1813.0,NaN,NaN,NaN,NaN,NaN
135132,16,11,2018,NaN,250,0,NaN,NaN,NaN,NaN,...,NaN,2595911.0,NaN,NaN,1813.0,NaN,NaN,NaN,NaN,041681802981MJ0010

In [195]:
unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/2189121141.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

In [196]:
# separate unmatched

unmatched_fjc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.isna()) >>
drop(unmatched_2.floorSENTTOT, unmatched_2.roundSENTTOT, unmatched_2.USSCIDN, unmatched_2.USSCcode1, unmatched_2.USSCcode2, unmatched_2.USSCcode3, unmatched_2.USSCcode4, unmatched_2.USSCcode5)
)
unmatched_ussc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.notna()) >>
drop(unmatched_2.ID, unmatched_2.FJDcode1, unmatched_2.FJDcode2, unmatched_2.FJDcode3, unmatched_2.FJDcode4, unmatched_2.FJDcode5, unmatched_2.FJDcode5, unmatched_2.FJDcode6, unmatched_2.FJDcode7, unmatched_2.FJDcode8, unmatched_2.FJDcode9, unmatched_2.FJDcode10, unmatched_2.DOCKET)
)

In [197]:
# check using floorSENTTOT

unmatched_ussc_2['PRISTOT'] = unmatched_ussc_2['floorSENTTOT']
unmatched_ussc_2

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,DEFLGKY_x,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y
1,90,10,2018,0.0,0,0,009011400022CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
2,90,10,2018,0.0,0,0,009011400022CR0010,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
3,90,10,2018,0.0,0,0,009011300200CR0060,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
4,90,10,2018,0.0,0,0,009011300200CR0060,2498804.0,0.0,0.0,18751.0,NaN,NaN,NaN,NaN,NaN
5,90,10,2018,0.0,0,0,009011800183CR0010,2495202.0,0.0,0.0,181951.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42391,34,12,2018,1.0,0,0,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN
42391,34,12,2018,1.0,0,0,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN
42391,34,12,2018,1.0,0,0,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN
42391,34,12,2018,1.0,0,0,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN
42391,34,12,2018,1.0,0,0,113J51800008CR0020,2509263.0,1.0,2.0,21843.0,21843.0,NaN,NaN,NaN,NaN

In [198]:
# merge again
fjc_ussc_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_3

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x_y,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y_y
0,0,10,2018,0.0,5000,0,4582469.0,163372.0,NA,NA,...,NaN,2497168.0,0.0,1.0,163372.0,163372.0,NaN,NaN,NaN,NaN
1,4,10,2018,74.0,0,0,4585916.0,21846.0,21841,21841,...,NaN,2501023.0,74.0,75.0,21841.0,21846.0,21860.0,NaN,NaN,NaN
2,6,10,2018,11.0,0,0,4591568.0,21846.0,NA,NA,...,NaN,2498277.0,11.0,12.0,21846.0,21841.0,NaN,NaN,NaN,NaN
3,14,10,2018,1.0,0,0,4614269.0,81326.0,NA,NA,...,NaN,2497145.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
4,50,12,2018,13.0,0,0,4699529.0,18922.0,NA,NA,...,NaN,2510716.0,13.0,14.0,18922.0,NaN,NaN,NaN,NaN,NaN
5,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
6,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
7,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
8,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
9,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
10,61,10,2018,0.0,0,0,4712993.0,181546.0,NA,NA,...,NaN,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN,NaN
11,61,10,2018,0.0,0,0,4713229.0,18641.0,42408,NA,...,NaN,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN,NaN
12,61,10,2018,0.0,0,0,4713245.0,42408.0,181546,NA,...,NaN,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN,NaN
13,61,10,2018,0.0,0,0,4713246.0,42408.0,181546,NA,...,NaN,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN,NaN
14,69,10,2018,0.0,0,0,4723801.0,81326.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
15,69,10,2018,0.0,0,0,4724088.0,18661.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
16,69,10,2018,0.0,0,0,4724352.0,81326.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
17,69,10,2018,0.0,0,0,4724454.0,181033.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
18,69,10,2018,0.0,0,0,4724495.0,81326.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
19,69,10,2018,0.0,0,0,4724743.0,81326.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
20,69,10,2018,0.0,0,0,4724753.0,81326.0,NA,NA,...,NaN,2500998.0,0.0,1.0,183146.0,181153.0,18661.0,182.0,NaN,NaN
21,70,10,2018,420.0,0,0,4728403.0,181111.0,18113,181111,...,NaN,2495092.0,420.0,421.0,181153.0,181111.0,18924.0,18113.0,NaN,NaN
22,79,12,2018,3.0,0,0,4765071.0,21841.0,21858,NA,...,NaN,2507628.0,3.0,4.0,81326.0,NaN,NaN,NaN,NaN,NaN
23,79,12,2018,3.0,0,0,4765071.0,21841.0,21858,NA,...,NaN,2508860.0,3.0,4.0,21858.0,NaN,NaN,NaN,NaN,NaN
24,87,11,2018,1.0,0,0,4781754.0,21844.0,NA,NA,...,NaN,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN,NaN
25,87,11,2018,1.0,0,0,4781780.0,21844.0,NA,NA,...,NaN,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN,NaN
26,87,11,2018,1.0,0,0,4781786.0,21844.0,NA,NA,...,NaN,2503836.0,1.0,2.0,1839.0,NaN,NaN,NaN,NaN,NaN
27,29,12,2018,2.0,0,0,4789711.0,1813.0,1813,1813,...,NaN,2511419.0,2.0,3.0,81326.0,NaN,NaN,NaN,NaN,NaN

In [199]:
# confirm second match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_3)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_3.iloc[i,k] != fjc_ussc_3.iloc[i,j]:
                no_match.append(i)
            elif fjc_ussc_3.iloc[i,k] == fjc_ussc_3.iloc[i,j] != 'NA':
                matched.append(i)
                break # break k
            break # break j

In [200]:
matched_3 = fjc_ussc_3.iloc[matched,:]
matched_3

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x_y,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y_y
0,0,10,2018,0.0,5000,0,4582469.0,163372.0,NA,NA,...,NaN,2497168.0,0.0,1.0,163372.0,163372.0,NaN,NaN,NaN,NaN
2,6,10,2018,11.0,0,0,4591568.0,21846.0,NA,NA,...,NaN,2498277.0,11.0,12.0,21846.0,21841.0,NaN,NaN,NaN,NaN
3,14,10,2018,1.0,0,0,4614269.0,81326.0,NA,NA,...,NaN,2497145.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
4,50,12,2018,13.0,0,0,4699529.0,18922.0,NA,NA,...,NaN,2510716.0,13.0,14.0,18922.0,NaN,NaN,NaN,NaN,NaN
5,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
6,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
7,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
8,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
9,50,10,2018,1.0,0,0,4699763.0,81326.0,NA,NA,...,065031800163CR0010,2496875.0,1.0,2.0,81326.0,NaN,NaN,NaN,NaN,NaN
11,61,10,2018,0.0,0,0,4713229.0,18641.0,42408,NA,...,NaN,2496976.0,0.0,1.0,18641.0,NaN,NaN,NaN,NaN,NaN

In [201]:
unmatched_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_3

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,ID,FJDcode1,FJDcode2,FJDcode3,...,DEFLGKY_x_y,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,DEFLGKY_y_y
0,90,12,2018,164.0,0,0,4580554.0,18924.0,21841,18922,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90,11,2018,0.0,100,0,4580960.0,18201.0,18371,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,90,11,2018,80.0,0,0,4580975.0,21846.0,21846,21846,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90,12,2018,108.0,0,0,4580977.0,21846.0,21846,18924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,90,11,2018,0.0,2548000,1,4581401.0,181349.0,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330399,87,11,2018,94.0,0,0,NaN,NaN,NaN,NaN,...,NaN,2595490.0,94.0,94.0,18922.0,18924.0,NaN,NaN,NaN,108751800097CR0010
330400,87,11,2018,94.0,0,0,NaN,NaN,NaN,NaN,...,NaN,2595490.0,94.0,94.0,18922.0,18924.0,NaN,NaN,NaN,108751800098CR0010
330401,45,12,2018,336.0,5000,0,NaN,NaN,NaN,NaN,...,NaN,2595507.0,336.0,336.0,18371.0,181622.0,181503.0,21846.0,181962.0,NaN
330402,42,12,2018,0.0,0,12,NaN,NaN,NaN,NaN,...,NaN,2595619.0,0.0,0.0,1813.0,NaN,NaN,NaN,NaN,NaN
330403,16,11,2018,NaN,250,0,NaN,NaN,NaN,NaN,...,NaN,2595911.0,NaN,NaN,1813.0,NaN,NaN,NaN,NaN,041681802981MJ0010

In [202]:
unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/2189233870.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

In [141]:
match_2018.columns

Index(['USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'SENTMON', 'SENTYR',
       'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2',
       'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8',
       'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY', 'USSCcode1', 'USSCcode2',
       'USSCcode3', 'USSCcode4', 'USSCcode5', 'ID'],
      dtype='object')

In [203]:
matched_q4 = pd.concat([matched_1, matched_2, matched_3], axis=0)
matched_q4.drop_duplicates(inplace=True)
matched_q4.drop_duplicates(subset='USSCIDN', keep='first', inplace=True)
matched_q4 = matched_q4[['USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'SENTMON', 'SENTYR',
       'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2',
       'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8',
       'FJDcode9', 'FJDcode10', 'DOCKET', 'DEFLGKY', 'USSCcode1', 'USSCcode2',
       'USSCcode3', 'USSCcode4', 'USSCcode5', 'ID']]

In [204]:
match_2018 = match_2018.append(matched_q4)

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_41972/3854055471.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  match_2018 = match_2018.append(matched_q4)

In [206]:
unmatched_q4 = pd.concat([unmatched, unmatched_2, unmatched_3], axis=0)
unmatched_q4.drop_duplicates(inplace=True)
unmatched_q4.drop_duplicates(subset='USSCIDN', keep='first')
unmatched_q4

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode9,FJDcode10,DOCKET,DEFLGKY,DEFLGKY_x,DEFLGKY_y,DEFLGKY_x_x,DEFLGKY_y_x,DEFLGKY_x_y,DEFLGKY_y_y
0,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,1700237.0,086781700237CR0020,NaN,NaN,NaN,NaN,NaN,NaN
1,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,181957,181343,1800052.0,086781800052CR0010,NaN,NaN,NaN,NaN,NaN,NaN
2,67,10,2018,30.0,0,0,2492676.0,30.0,30.0,21841.0,...,NA,NA,1800122.0,086781800122CR0010,NaN,NaN,NaN,NaN,NaN,NaN
3,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,NA,NA,1700237.0,086781700237CR0020,NaN,NaN,NaN,NaN,NaN,NaN
4,67,10,2018,30.0,0,0,2494915.0,30.0,30.0,81326.0,...,181957,181343,1800052.0,086781800052CR0010,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330396,54,11,2018,0.0,100,36,2593665.0,0.0,1.0,21843.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330398,33,10,2018,144.0,0,0,2595482.0,144.0,144.0,21841.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113G11700006CR0070
330399,87,11,2018,94.0,0,0,2595490.0,94.0,94.0,18922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108751800097CR0010
330400,87,11,2018,94.0,0,0,2595490.0,94.0,94.0,18922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108751800098CR0010
330403,16,11,2018,NaN,250,0,2595911.0,NaN,NaN,1813.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,041681802981MJ0010

In [149]:
match_2018.shape

(35387, 27)

In [219]:
fjc['matchFlag'] = fjc.ID.isin(match_2018.ID).astype(int)
ussc['matchFlag'] = ussc.USSCIDN.isin(match_2018.USSCIDN).astype(int)

In [220]:
fjc.matchFlag.value_counts()

0    43023
1    31666
Name: matchFlag, dtype: int64

In [213]:
match_2018.drop_duplicates(subset='USSCIDN')

,USSCIDN,floorSENTTOT,roundSENTTOT,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,...,FJDcode9,FJDcode10,DOCKET,DEFLGKY,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5,ID
0,2436847.0,188.0,188.0,1,2018,88,188,0.0,0,21841.0,...,NaN,NaN,1600609.0,108821600609CR0010,21841.0,NaN,NaN,NaN,NaN,4555469.0
1,2438538.0,0.0,0.0,1,2018,22,0,0.0,0,81326.0,...,NaN,NaN,1700221.0,042211700221CR0010,81326.0,NaN,NaN,NaN,NaN,4417115.0
2,2438539.0,300.0,300.0,1,2018,68,300,0.0,0,21846.0,...,NaN,NaN,1500157.0,086811500157CR0010,21841.0,18924.0,21841.0,182.0,21846.0,4497437.0
3,2438541.0,63.0,63.0,1,2018,51,63,0.0,0,18922.0,...,NaN,NaN,1720143.0,065121720143CR0010,18922.0,NaN,NaN,NaN,NaN,4477386.0
4,2438542.0,2.0,2.0,1,2018,82,2,0.0,0,81326.0,...,NaN,NaN,1700288.0,108211700288CR0010,81326.0,NaN,NaN,NaN,NaN,4543256.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2497168.0,0.0,1.0,10,2018,0,0.0,5000.0,0,163372.0,...,NA,NA,1800066.0,NaN,163372.0,163372.0,NaN,NaN,NaN,4582469.0
2,2498277.0,11.0,12.0,10,2018,6,11.0,0.0,0,21846.0,...,NA,NA,1800121.0,NaN,21846.0,21841.0,NaN,NaN,NaN,4591568.0
3,2497145.0,1.0,2.0,10,2018,14,1.0,0.0,0,81326.0,...,NA,NA,1800273.0,NaN,81326.0,NaN,NaN,NaN,NaN,4614269.0
4,2510716.0,13.0,14.0,12,2018,50,13.0,0.0,0,18922.0,...,NA,NA,1700164.0,NaN,18922.0,NaN,NaN,NaN,NaN,4699529.0
11,2496976.0,0.0,1.0,10,2018,61,0.0,0.0,0,18641.0,...,NA,NA,1850039.0,NaN,18641.0,NaN,NaN,NaN,NaN,4713229.0

In [214]:
match_2018.to_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/match_2018.csv', index=False)

In [215]:
ussc.matchFlag.value_counts()

0    35842
1    35378
Name: matchFlag, dtype: int64

In [216]:
ussc.to_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/ussc_2018.csv', index=False)

In [221]:
fjc.to_csv('/Users/shiramichel/Documents/JUSTFAIR/2018_data/fjc_2018.csv', index=False)