In [1]:
import pandas as pd
import numpy as np
from dfply import *

In [52]:
fjc = pd.read_csv('FJC_2018.csv')
ussc = pd.read_csv('mod_ussc_2018.csv')

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/661262006.py:1: DtypeWarning: Columns (4,11,42,54,65,96,108,113,120,125) have mixed types. Specify dtype option on import or set low_memory=False.
  fjc = pd.read_csv('FJC_2018.csv')

In [53]:
fjc_new = fjc[['ID','SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10']]
ussc_new = ussc[['DISTRICT', 'SENTMON', 'SENTYR', 'SENTTOT_new', 'FINE', 'PROBATN', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT','USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]
ussc_new = ussc_new.rename({'SENTTOT_new': 'PRISTOT', 'FINE': 'FINETOT', 'PROBATN': 'PROBTOT'}, axis=1)

In [54]:
fjc_new.replace(-8, 'NA', inplace=True)
fjc_new.replace('-8', 'NA', inplace=True)
fjc_new = fjc_new

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/3974322116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace(-8, 'NA', inplace=True)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/3974322116.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace('-8', 'NA', inplace=True)

In [55]:
# first merge on 6 variables
fjc_ussc = pd.merge(ussc_new, fjc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc

,DISTRICT,SENTMON,SENTYR,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,...,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10
0,88,1,2018,188.0,0,0,2436847,188.0,188.0,81326.0,...,21841,NA,NA,NA,NA,21841,NA,NA,NA,NA
1,68,1,2018,300.0,0,0,2438539,300.0,300.0,81326.0,...,21846,18924,21841,NA,NA,21846,21841,18924,NA,NA
2,68,1,2018,300.0,0,0,2438539,300.0,300.0,81326.0,...,18924,21841,18922,18922,18922,21841,18922,18922,18924,18922
3,68,1,2018,300.0,0,0,2443206,300.0,300.0,81326.0,...,21846,18924,21841,NA,NA,21846,21841,18924,NA,NA
4,68,1,2018,300.0,0,0,2443206,300.0,300.0,81326.0,...,18924,21841,18922,18922,18922,21841,18922,18922,18924,18922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270173,4,7,2018,0.0,0,0,2516184,NaN,NaN,NaN,...,81326,NA,NA,NA,NA,81326,NA,NA,NA,NA
270174,4,7,2018,0.0,0,0,2516184,NaN,NaN,NaN,...,81326,NA,NA,NA,NA,81326,NA,NA,NA,NA
270175,4,7,2018,0.0,0,0,2516184,NaN,NaN,NaN,...,81326,NA,NA,NA,NA,81326,NA,NA,NA,NA
270176,4,7,2018,0.0,0,0,2516184,NaN,NaN,NaN,...,81326,NA,NA,NA,NA,81326,NA,NA,NA,NA
270177,45,6,2018,90.0,0,0,2519666,90.0,90.0,NaN,...,182113,182113,182113,NA,NA,182113,182113,182113,NA,NA

In [89]:
# reformat
fjc_ussc.fillna('NA', inplace=True)
fjc_ussc = fjc_ussc[['ID', 'SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT', 'USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]
fjc_ussc.drop_duplicates(inplace=True)
fjc_ussc

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4555469,1,2018,88,188.0,0,0,21841,NA,NA,...,NA,NA,2436847,188.0,188.0,81326.0,NA,NA,NA,NA
1,4497437,1,2018,68,300.0,0,0,21846,18924,21841,...,NA,NA,2438539,300.0,300.0,81326.0,NA,NA,NA,NA
2,4498067,1,2018,68,300.0,0,0,18924,21841,18922,...,18924,18922,2438539,300.0,300.0,81326.0,NA,NA,NA,NA
3,4497437,1,2018,68,300.0,0,0,21846,18924,21841,...,NA,NA,2443206,300.0,300.0,81326.0,NA,NA,NA,NA
4,4498067,1,2018,68,300.0,0,0,18924,21841,18922,...,18924,18922,2443206,300.0,300.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270173,4373075,7,2018,4,0.0,0,0,81326,NA,NA,...,NA,NA,2516184,NA,NA,NA,NA,NA,NA,NA
270174,4373123,7,2018,4,0.0,0,0,81326,NA,NA,...,NA,NA,2516184,NA,NA,NA,NA,NA,NA,NA
270175,4373374,7,2018,4,0.0,0,0,81326,NA,NA,...,NA,NA,2516184,NA,NA,NA,NA,NA,NA,NA
270176,4373375,7,2018,4,0.0,0,0,81326,NA,NA,...,NA,NA,2516184,NA,NA,NA,NA,NA,NA,NA
270177,4467799,6,2018,45,90.0,0,0,182113,182113,182113,...,NA,NA,2519666,90.0,90.0,NA,NA,NA,NA,NA

In [90]:
# confirm match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc.iloc[i,k] == fjc_ussc.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [94]:
# obtain true matches
matched_1 = fjc_ussc.iloc[matched,:]
matched_1.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,20,4459330,1,2018,42,10.0,0,0,18922,18922,...,NA,NA,2438543,10.0,10.0,21846.0,18922.0,21841.0,18924.0,NA
1,77,4459330,1,2018,42,10.0,0,0,18922,18922,...,NA,NA,2440976,10.0,10.0,18922.0,18924.0,NA,NA,NA
2,86,4454733,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
3,87,4454821,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
4,88,4454903,1,2018,42,10.0,0,0,81326,NA,...,NA,NA,2441329,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38402,201816,4536714,7,2018,78,33.0,0,0,81326,NA,...,NA,NA,2478024,33.0,33.0,81326.0,81326.0,NA,NA,NA
38403,201828,4496362,7,2018,67,5.0,0,0,81326,NA,...,NA,NA,2478064,5.0,5.0,81326.0,81326.0,NA,NA,NA
38404,201828,4496362,7,2018,67,5.0,0,0,81326,NA,...,NA,NA,2478064,5.0,5.0,81326.0,81326.0,NA,NA,NA
38405,201832,4392852,7,2018,12,48.0,0,0,21846,21846,...,21846,21846,2478069,48.0,48.0,21846.0,21841.0,NA,NA,NA
38406,201836,4447033,7,2018,41,26.0,0,0,18924,NA,...,NA,NA,2478070,26.0,26.0,181962.0,21846.0,18924.0,21841.0,NA

In [95]:
# get first unmatched
unmatched = pd.merge(fjc_new, ussc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.00,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.00,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.00,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314652,NaN,9,2018,45,1.92,0,0,NaN,NaN,NaN,...,NaN,NaN,2514944.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
314653,NaN,8,2018,31,82.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2515497.0,82.0,82.0,NaN,NaN,NaN,NaN,NaN
314654,NaN,9,2018,74,14.95,0,0,NaN,NaN,NaN,...,NaN,NaN,2515502.0,14.0,15.0,NaN,NaN,NaN,NaN,NaN
314655,NaN,3,2018,73,0.10,0,0,NaN,NaN,NaN,...,NaN,NaN,2515569.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
314656,NaN,5,2018,8,70.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2519665.0,70.0,70.0,NaN,NaN,NaN,NaN,NaN

In [97]:
# add unmatched to cases with no code match
unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])
unmatched.drop_duplicates(inplace=True)
unmatched

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/1742520927.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270173,4373075.0,7,2018,4,0.0,0,0,81326.0,NA,NA,...,NA,NA,2516184.0,NA,NA,NA,NA,NA,NA,NA
270174,4373123.0,7,2018,4,0.0,0,0,81326.0,NA,NA,...,NA,NA,2516184.0,NA,NA,NA,NA,NA,NA,NA
270175,4373374.0,7,2018,4,0.0,0,0,81326.0,NA,NA,...,NA,NA,2516184.0,NA,NA,NA,NA,NA,NA,NA
270176,4373375.0,7,2018,4,0.0,0,0,81326.0,NA,NA,...,NA,NA,2516184.0,NA,NA,NA,NA,NA,NA,NA
270177,4467799.0,6,2018,45,90.0,0,0,182113.0,182113,182113,...,NA,NA,2519666.0,90.0,90.0,NA,NA,NA,NA,NA

In [98]:
# separate unmatched
unmatched_fjc = (unmatched >>
mask(unmatched.USSCIDN.isna()) >>
drop(unmatched.floorSENTTOT, unmatched.roundSENTTOT, unmatched.USSCIDN, unmatched.USSCcode1, unmatched.USSCcode2, unmatched.USSCcode3, unmatched.USSCcode4, unmatched.USSCcode5)
)

unmatched_ussc = (unmatched >>
mask(unmatched.USSCIDN.notna()) >>
drop(unmatched.ID, unmatched.FJDcode1, unmatched.FJDcode2, unmatched.FJDcode3, unmatched.FJDcode4, unmatched.FJDcode5, unmatched.FJDcode5, unmatched.FJDcode6, unmatched.FJDcode7, unmatched.FJDcode8, unmatched.FJDcode9, unmatched.FJDcode10)
)

In [100]:
# check using roundSENTTOT
unmatched_ussc['PRISTOT'] = unmatched_ussc['roundSENTTOT']

In [102]:
# change type to merge
unmatched_fjc.PRISTOT = unmatched_fjc.PRISTOT.astype(object)

In [103]:
# second merge on 6 variables
fjc_ussc_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
1,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4366329.0,4,2018,90,0.0,0,0,21846.0,NA,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104218,4579022.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476163.0,0.0,0.0,18371.0,18922.0,18924.0,NaN,NaN
104219,4579023.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476163.0,0.0,0.0,18371.0,18922.0,18924.0,NaN,NaN
104220,4579813.0,7,2018,34,0.0,0,0,21844.0,NA,NA,...,NA,NA,2476163.0,0.0,0.0,18371.0,18922.0,18924.0,NaN,NaN
104221,4579747.0,5,2018,34,0.0,250,0,1813.0,1813,NA,...,NA,NA,2465367.0,0.0,0.0,81324.0,NaN,NaN,NaN,NaN
104222,4580028.0,7,2018,34,12.0,0,0,1813.0,1813,NA,...,NA,NA,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN

In [104]:
# confirm second match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_2)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_2.iloc[i,k] == fjc_ussc_2.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [106]:
# obtain true matches
matched_2 = fjc_ussc_2.iloc[matched,:]
matched_2.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,59,4366919.0,6,2018,90,0.0,0,0,81326.0,NA,...,NA,NA,2472157.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
1,59,4366919.0,6,2018,90,0.0,0,0,81326.0,NA,...,NA,NA,2472157.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
2,78,4367725.0,4,2018,0,0.0,0,0,81326.0,NA,...,NA,NA,2462059.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
3,78,4367725.0,4,2018,0,0.0,0,0,81326.0,NA,...,NA,NA,2462059.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
4,85,4368040.0,5,2018,1,0.0,0,0,21846.0,181956,...,NA,NA,2465192.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16735,104189,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,...,NA,NA,2468352.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
16736,104195,4580038.0,5,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
16737,104195,4580038.0,5,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
16738,104197,4580039.0,5,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
16739,104197,4580039.0,5,2018,34,0.0,0,0,81326.0,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN

In [107]:
unmatched_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_2

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672735,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
672736,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
672737,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
672738,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
672739,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA

In [108]:
unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/2189121141.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

In [109]:
unmatched_fjc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.isna()) >>
drop(unmatched_2.floorSENTTOT, unmatched_2.roundSENTTOT, unmatched_2.USSCIDN, unmatched_2.USSCcode1, unmatched_2.USSCcode2, unmatched_2.USSCcode3, unmatched_2.USSCcode4, unmatched_2.USSCcode5)
)
unmatched_ussc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.notna()) >>
drop(unmatched_2.ID, unmatched_2.FJDcode1, unmatched_2.FJDcode2, unmatched_2.FJDcode3, unmatched_2.FJDcode4, unmatched_2.FJDcode5, unmatched_2.FJDcode5, unmatched_2.FJDcode6, unmatched_2.FJDcode7, unmatched_2.FJDcode8, unmatched_2.FJDcode9, unmatched_2.FJDcode10)
)

In [110]:
unmatched_ussc_2['PRISTOT'] = unmatched_ussc_2['floorSENTTOT']
unmatched_ussc_2

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
1,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4,2018,90,0.0,0,0,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
3,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4,2018,90,0.0,0,0,2462227.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
5,4,2018,90,0.0,0,0,2460481.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104222,7,2018,34,12.0,0,0,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN
104222,7,2018,34,12.0,0,0,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN
104222,7,2018,34,12.0,0,0,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN
104222,7,2018,34,12.0,0,0,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN
104222,7,2018,34,12.0,0,0,2480293.0,12.0,12.0,NaN,NaN,NaN,NaN,NaN

In [111]:
fjc_ussc_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_3

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4371030.0,4,2018,4,91.0,0,0,21846.0,21841,21841,...,21841,18924,2456560.0,91.0,92.0,181962.0,NaN,NaN,NaN,NaN
1,4398274.0,8,2018,14,1.0,0,0,81326.0,NA,NA,...,NA,NA,2480614.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN
2,4403289.0,5,2018,16,13.0,0,0,21846.0,21856,NA,...,NA,NA,2462623.0,13.0,14.0,182250.0,18111.0,NaN,NaN,NaN
3,4412027.0,2,2018,19,0.0,0,0,18924.0,21841,18922,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
4,4412405.0,2,2018,19,0.0,0,0,181349.0,181344,NA,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,4556381.0,8,2018,88,17.0,0,0,81326.0,NA,NA,...,NA,NA,2486274.0,17.0,18.0,NaN,NaN,NaN,NaN,NaN
64,4556901.0,8,2018,89,0.0,0,0,81326.0,NA,NA,...,NA,NA,2483995.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
65,4557471.0,8,2018,89,0.0,0,0,42408.0,181546,NA,...,NA,NA,2483995.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN
66,4562989.0,4,2018,30,1.0,0,0,81326.0,NA,NA,...,NA,NA,2460644.0,1.0,2.0,18371.0,72024.0,NaN,NaN,NaN
67,4562994.0,4,2018,30,1.0,0,0,81326.0,NA,NA,...,NA,NA,2460644.0,1.0,2.0,18371.0,72024.0,NaN,NaN,NaN

In [112]:
# confirm third match with codes
matched = []
no_match = []

for i in range(len(fjc_ussc_3)):
    for j in range(20,25):
        for k in range(7,17):
            if fjc_ussc_3.iloc[i,k] == fjc_ussc_3.iloc[i,j] != 'NA':
                matched.append(i)
                break
            else:
                no_match.append(i)
                break

In [114]:
matched_3 = fjc_ussc_3.iloc[matched,:]
matched_3.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,3,4412027.0,2,2018,19,0.0,0,0,18924.0,21841,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
1,51,4541362.0,3,2018,81,1.0,0,0,81326.0,NA,...,NA,NA,2452061.0,1.0,2.0,81326.0,81326.0,NaN,NaN,NaN
2,51,4541362.0,3,2018,81,1.0,0,0,81326.0,NA,...,NA,NA,2452061.0,1.0,2.0,81326.0,81326.0,NaN,NaN,NaN

In [115]:
unmatched_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_3

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/reshape/merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4366261.0,8,2018,90,68.0,0,0,181957.0,181957,29501,...,29186,181343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4366269.0,3,2018,90,168.0,0,36,18641.0,18641,181028,...,181028,181028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4366303.0,2,2018,90,12.0,0,60,1813.0,1813,1813,...,1813,181343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4366442.0,4,2018,90,168.0,0,0,21841.0,21841,21841,...,21841,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177081,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
1177082,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
1177083,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
1177084,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA
1177085,NaN,7,2018,4,NA,0,0,NaN,NaN,NaN,...,NaN,NaN,2516184.0,NA,NA,NA,NA,NA,NA,NA

In [116]:
unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_5246/2189233870.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

In [119]:
matched_2018 = pd.concat([matched_1, matched_2, matched_3], axis=0)
matched_2018.drop_duplicates(inplace=True)
matched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
20,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2438543.0,10.0,10.0,21846.0,18922.0,21841.0,18924.0,NA
77,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2440976.0,10.0,10.0,18922.0,18924.0,NA,NA,NA
86,4454733.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
87,4454821.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
88,4454903.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104189,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,21841,...,NA,NA,2468352.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
104195,4580038.0,5,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
104197,4580039.0,5,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
3,4412027.0,2,2018,19,0.0,0,0,18924.0,21841,18922,...,NA,NA,2445248.0,0.0,1.0,18922.0,18924.0,NaN,NaN,NaN
51,4541362.0,3,2018,81,1.0,0,0,81326.0,NA,NA,...,NA,NA,2452061.0,1.0,2.0,81326.0,81326.0,NaN,NaN,NaN

In [121]:
unmatched_2018 = pd.concat([unmatched, unmatched_2, unmatched_3], axis=0)
unmatched_2018.drop_duplicates(inplace=True)
unmatched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2448935.0,470.0,470.0,18922.0,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,2464896.0,470.0,470.0,81326.0,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,2450946.0,144.0,144.0,21846.0,81326.0,18922.0,21841.0,21841.0
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128932,NaN,9,2018,4,4.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2497741.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN
1128952,NaN,6,2018,47,4.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2503596.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN
1128960,NaN,9,2018,35,4.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2504276.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN
1128961,NaN,9,2018,35,4.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2507053.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN
1128986,NaN,5,2018,8,43.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2512122.0,43.0,44.0,NaN,NaN,NaN,NaN,NaN

In [131]:
matched_2018.to_csv('matched_2018.csv', index=False)

In [134]:
unmatched_2018.to_csv('unmatched_2018.csv', index=False)

In [125]:
matched_2018.loc[matched_2018.duplicated(subset=['USSCIDN'], keep=False)]

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
86,4454733.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
87,4454821.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
88,4454903.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
90,4454955.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
91,4455072.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104139,4580034.0,3,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2452931.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
104187,4578932.0,6,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2468352.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
104189,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,21841,...,NA,NA,2468352.0,0.0,0.0,21846.0,21841.0,21841.0,NaN,NaN
104195,4580038.0,5,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
104197,4580039.0,5,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2465366.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN

In [126]:
matched_2018.loc[matched_2018.duplicated(subset=['ID'], keep=False)]

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
20,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2438543.0,10.0,10.0,21846.0,18922.0,21841.0,18924.0,NA
77,4459330.0,1,2018,42,10.0,0,0,18922.0,18922,NA,...,NA,NA,2440976.0,10.0,10.0,18922.0,18924.0,NA,NA,NA
86,4454733.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
87,4454821.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
88,4454903.0,1,2018,42,10.0,0,0,81326.0,NA,NA,...,NA,NA,2441329.0,10.0,10.0,81326.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103301,4574381.0,6,2018,31,0.0,0,0,81326.0,NA,NA,...,NA,NA,2471007.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
103302,4574381.0,6,2018,31,0.0,0,0,81326.0,NA,NA,...,NA,NA,2472378.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
103305,4574381.0,6,2018,31,0.0,0,0,81326.0,NA,NA,...,NA,NA,2472942.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
103307,4574381.0,6,2018,31,0.0,0,0,81326.0,NA,NA,...,NA,NA,2474239.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
103308,4574381.0,6,2018,31,0.0,0,0,81326.0,NA,NA,...,NA,NA,2470502.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN

In [129]:
matched_2018.loc[matched_2018.duplicated(subset=['USSCIDN'], keep=False)].to_csv('matched_2018_USSCIDN_duplicates.csv', index=False)

In [130]:
matched_2018.loc[matched_2018.duplicated(subset=['ID'], keep=False)].to_csv('matched_2018_ID_duplicates.csv', index=False)