In [1]:
import pandas as pd
import numpy as np
from dfply import *

In [2]:
fjc = pd.read_csv('FJC_2018.csv')
ussc = pd.read_csv('ussc_2018_clean.csv')

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9777/3724029126.py:1: DtypeWarning: Columns (4,11,42,54,65,96,108,113,120,125) have mixed types. Specify dtype option on import or set low_memory=False.
  fjc = pd.read_csv('FJC_2018.csv')

In [3]:
ussc.shape

(53215, 164)

In [4]:
fjc_new = fjc[['ID','SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT', 'FJDcode1', 'FJDcode2', 'FJDcode3', 'FJDcode4', 'FJDcode5', 'FJDcode6', 'FJDcode7', 'FJDcode8', 'FJDcode9', 'FJDcode10']]

In [5]:
ussc_new = ussc[['CIRCDIST', 'SENTMON', 'SENTYR', 'SENTTOT_new', 'FINE', 'PROBATN', 'USSCIDN', 'floorSENTTOT', 'roundSENTTOT','USSCcode1', 'USSCcode2', 'USSCcode3', 'USSCcode4', 'USSCcode5']]

In [6]:
ussc_new = ussc_new.rename({'CIRCDIST': 'DISTRICT', 'SENTTOT_new': 'PRISTOT', 'FINE': 'FINETOT', 'PROBATN': 'PROBTOT'}, axis=1)

In [7]:
fjc_new.replace(-8, 'NA', inplace=True)
fjc_new.replace('-8', 'NA', inplace=True)

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9777/1800276897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace(-8, 'NA', inplace=True)
/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9777/1800276897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fjc_new.replace('-8', 'NA', inplace=True)

In [8]:
fjc_new = fjc_new

In [16]:
fjc_ussc = pd.merge(fjc_new, ussc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366204,9,2018,90,42.0,0,0,181957,181344,181014,...,181344,181014,2488790,42.0,42.0,21846,18924.0,21841.0,21851.0,NaN
1,4366322,7,2018,90,60.0,0,0,18922,NA,NA,...,NA,NA,2478769,60.0,60.0,182252,182252.0,NaN,NaN,NaN
2,4366322,7,2018,90,60.0,0,0,18922,NA,NA,...,NA,NA,2482515,60.0,60.0,21841,18922.0,21841.0,18924.0,NaN
3,4366344,7,2018,90,60.0,0,0,21846,NA,NA,...,NA,NA,2478769,60.0,60.0,182252,182252.0,NaN,NaN,NaN
4,4366344,7,2018,90,60.0,0,0,21846,NA,NA,...,NA,NA,2482515,60.0,60.0,21841,18922.0,21841.0,18924.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26859,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2490855,60.0,60.0,21846,21841.0,21841.0,NaN,NaN
26860,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2491099,60.0,60.0,21846,21841.0,21841.0,NaN,NaN
26861,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2491100,60.0,60.0,21841,21841.0,NaN,NaN,NaN
26862,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2491451,60.0,60.0,181951,NaN,NaN,NaN,NaN
26863,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2492575,60.0,60.0,18924,NaN,NaN,NaN,NaN

In [19]:
dup_id = fjc_ussc.loc[fjc_ussc.duplicated(subset='ID', keep='last')]
dup_idn = fjc_ussc.loc[fjc_ussc.duplicated(subset='USSCIDN', keep='last')]
dup = pd.concat([dup_id, dup_idn], axis=0)
dup

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
1,4366322,7,2018,90,60.0,0,0,18922,NA,NA,...,NA,NA,2478769,60.0,60.0,182252,182252.0,NaN,NaN,NaN
3,4366344,7,2018,90,60.0,0,0,21846,NA,NA,...,NA,NA,2478769,60.0,60.0,182252,182252.0,NaN,NaN,NaN
8,4366389,1,2018,90,78.0,0,0,21846,21846,21846,...,NA,NA,2441473,78.0,78.0,182252,182252.0,NaN,NaN,NaN
13,4366429,2,2018,90,0.0,0,36,21841,21841,21841,...,18924,18924,2449498,NaN,NaN,181708,NaN,NaN,NaN,NaN
15,4366620,2,2018,90,0.0,0,36,18371,NA,NA,...,NA,NA,2449498,NaN,NaN,181708,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26784,4579693,8,2018,34,151.0,0,0,18924,21841,18922,...,NA,NA,2481462,151.0,151.0,182113,NaN,NaN,NaN,NaN
26785,4579693,8,2018,34,151.0,0,0,18924,21841,18922,...,NA,NA,2486811,151.0,151.0,21841,21841.0,NaN,NaN,NaN
26804,4579970,1,2018,34,37.0,0,0,18922,NA,NA,...,NA,NA,2442414,37.0,37.0,81326,62023.0,62024.0,NaN,NaN
26805,4579970,1,2018,34,37.0,0,0,18922,NA,NA,...,NA,NA,2442535,37.0,37.0,18922,NaN,NaN,NaN,NaN
26808,4579971,2,2018,34,72.0,0,0,21846,18924,18924,...,21841,21843,2450206,72.0,72.0,2672062,NaN,NaN,NaN,NaN

In [20]:
fjc_ussc = fjc_ussc.drop_duplicates(subset=['ID'], keep='first')
fjc_ussc = fjc_ussc.drop_duplicates(subset='USSCIDN', keep='first')
fjc_ussc

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366204,9,2018,90,42.0,0,0,181957,181344,181014,...,181344,181014,2488790,42.0,42.0,21846,18924.0,21841.0,21851.0,NaN
1,4366322,7,2018,90,60.0,0,0,18922,NA,NA,...,NA,NA,2478769,60.0,60.0,182252,182252.0,NaN,NaN,NaN
5,4366355,1,2018,90,18.0,0,0,21846,21846,21843,...,21843,NA,2442164,18.0,18.0,18922,18924.0,NaN,NaN,NaN
7,4366380,1,2018,90,180.0,0,0,21846,21846,21846,...,21846,18924,2442520,180.0,180.0,21841,18922.0,21841.0,18924.0,NaN
8,4366389,1,2018,90,78.0,0,0,21846,21846,21846,...,NA,NA,2441473,78.0,78.0,182252,182252.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26843,4580010,2,2018,34,46.0,0,0,21846,21846,21841,...,NA,NA,2445557,46.0,46.0,21841,21841.0,NaN,NaN,NaN
26846,4580011,6,2018,34,120.0,0,0,21846,18924,21841,...,18922,18922,2469740,120.0,120.0,18922,NaN,NaN,NaN,NaN
26849,4580017,5,2018,34,12.0,0,0,21846,21846,21841,...,21841,NA,2466875,12.0,12.0,18513,NaN,NaN,NaN,NaN
26851,4580018,6,2018,34,60.0,0,0,21846,21846,21841,...,21841,21841,2468333,60.0,60.0,81326,NaN,NaN,NaN,NaN
26854,4580022,9,2018,34,60.0,0,0,21846,21846,21841,...,21856,18922,2486895,60.0,60.0,18924,NaN,NaN,NaN,NaN

In [21]:
matched = []
no_match = []

for i in range(len(fjc_ussc)):
    for j in range(len(fjc_ussc)):
        if fjc_ussc.iloc[i,7] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,7] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,7] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,7] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,7] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,8] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,8] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,8] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,8] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,8] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,9] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,9] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,9] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,9] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,9] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,10] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,10] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,10] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,10] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,10] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,11] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,11] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,11] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,11] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,11] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,12] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,12] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,12] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,12] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,12] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,13] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,13] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,13] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,13] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,13] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,14] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,14] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,14] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,14] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,14] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,15] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,15] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,15] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,15] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,15] == fjc_ussc.iloc[j,24] or fjc_ussc.iloc[i,16] == fjc_ussc.iloc[j,20] or fjc_ussc.iloc[i,16] == fjc_ussc.iloc[j,21] or fjc_ussc.iloc[i,16] == fjc_ussc.iloc[j,22] or fjc_ussc.iloc[i,16] == fjc_ussc.iloc[j,23] or fjc_ussc.iloc[i,16] == fjc_ussc.iloc[j,24]:
           matched.append(i)
           break
        else:
            no_match.append(i)
            break

In [22]:
matched_1 = fjc_ussc.iloc[matched,:]
matched_1.reset_index()

,index,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,5,4366355,1,2018,90,18.0,0,0,21846,21846,...,21843,NA,2442164,18.0,18.0,18922,18924.0,NaN,NaN,NaN
1,7,4366380,1,2018,90,180.0,0,0,21846,21846,...,21846,18924,2442520,180.0,180.0,21841,18922.0,21841.0,18924.0,NaN
2,8,4366389,1,2018,90,78.0,0,0,21846,21846,...,NA,NA,2441473,78.0,78.0,182252,182252.0,NaN,NaN,NaN
3,10,4366406,4,2018,90,60.0,0,0,18924,18924,...,18922,18922,2458364,60.0,60.0,21841,21841.0,21841.0,21841.0,182.0
4,13,4366429,2,2018,90,0.0,0,36,21841,21841,...,18924,18924,2449498,NaN,NaN,181708,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2398,26843,4580010,2,2018,34,46.0,0,0,21846,21846,...,NA,NA,2445557,46.0,46.0,21841,21841.0,NaN,NaN,NaN
2399,26846,4580011,6,2018,34,120.0,0,0,21846,18924,...,18922,18922,2469740,120.0,120.0,18922,NaN,NaN,NaN,NaN
2400,26849,4580017,5,2018,34,12.0,0,0,21846,21846,...,21841,NA,2466875,12.0,12.0,18513,NaN,NaN,NaN,NaN
2401,26851,4580018,6,2018,34,60.0,0,0,21846,21846,...,21841,21841,2468333,60.0,60.0,81326,NaN,NaN,NaN,NaN
2402,26854,4580022,9,2018,34,60.0,0,0,21846,21846,...,21856,18922,2486895,60.0,60.0,18924,NaN,NaN,NaN,NaN

In [23]:
unmatched = pd.merge(fjc_new, ussc_new, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.00,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.00,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.00,0,0,21963.0,21960,21960,...,21959,21959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4366018.0,4,2018,90,0.00,0,0,181951.0,22404,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129433,NaN,8,2018,91,82.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2515497.0,82.0,82.0,18922.0,NaN,NaN,NaN,NaN
129434,NaN,9,2018,68,14.95,0,0,NaN,NaN,NaN,...,NaN,NaN,2515502.0,14.0,15.0,81326.0,81326.0,NaN,NaN,NaN
129435,NaN,8,2018,91,240.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2515560.0,240.0,240.0,181951.0,18924.0,NaN,NaN,NaN
129436,NaN,3,2018,65,0.10,0,0,NaN,NaN,NaN,...,NaN,NaN,2515569.0,0.0,0.0,21844.0,NaN,NaN,NaN,NaN
129437,NaN,5,2018,10,70.00,0,0,NaN,NaN,NaN,...,NaN,NaN,2519665.0,70.0,70.0,21846.0,21841.0,NaN,NaN,NaN

In [24]:
unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9777/3694392881.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched = unmatched.append(fjc_ussc.iloc[no_match,:])

In [25]:
unmatched_fjc = (unmatched >>
mask(unmatched.USSCIDN.isna()) >>
drop(unmatched.floorSENTTOT, unmatched.roundSENTTOT, unmatched.USSCIDN, unmatched.USSCcode1, unmatched.USSCcode2, unmatched.USSCcode3, unmatched.USSCcode4, unmatched.USSCcode5)
)
unmatched_fjc

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,NA,NA,21952.0,21952,NA,NA,NA
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,NA,NA,21952.0,21952,NA,NA,NA
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,NA,NA,18922.0,21844,NA,NA,NA
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,21959,21959,21963.0,21960,21960,21959,21959
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,NA,NA,22404.0,181951,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88127,4807436.0,10,2018,34,125.0,0,0,21846.0,21846,21841,21841,21841,21846.0,21846,21841,21841,21841
88128,4807442.0,11,2018,34,68.0,0,0,21846.0,21846,NA,NA,NA,21846.0,21846,NA,NA,NA
88129,4807451.0,12,2018,34,180.0,0,0,21846.0,18924,21841,21841,21841,21841.0,21846,21841,18924,21841
88130,4807452.0,12,2018,34,2.0,0,0,21846.0,21841,21841,21843,NA,21843.0,21846,21841,21841,NA
88131,4807515.0,11,2018,34,18.0,0,0,18641.0,NA,NA,NA,NA,18641.0,NA,NA,NA,NA

In [26]:
unmatched_ussc = (unmatched >>
mask(unmatched.USSCIDN.notna()) >>
drop(unmatched.ID, unmatched.FJDcode1, unmatched.FJDcode2, unmatched.FJDcode3, unmatched.FJDcode4, unmatched.FJDcode5, unmatched.FJDcode5, unmatched.FJDcode6, unmatched.FJDcode7, unmatched.FJDcode8, unmatched.FJDcode9, unmatched.FJDcode10)
)
unmatched_ussc

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
15,9,2018,90,42.0,0,0,2488790.0,42.0,42.0,21846.0,18924.0,21841.0,21851.0,NaN
33,7,2018,90,60.0,0,0,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
34,7,2018,90,60.0,0,0,2482515.0,60.0,60.0,21841.0,18922.0,21841.0,18924.0,NaN
35,7,2018,90,60.0,0,0,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
36,7,2018,90,60.0,0,0,2482515.0,60.0,60.0,21841.0,18922.0,21841.0,18924.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26802,7,2018,34,28.0,0,0,2479209.0,28.0,28.0,81326.0,81326.0,NaN,NaN,NaN
26803,7,2018,34,84.0,0,0,2479021.0,84.0,84.0,21846.0,NaN,NaN,NaN,NaN
26804,1,2018,34,37.0,0,0,2442414.0,37.0,37.0,81326.0,62023.0,62024.0,NaN,NaN
26838,2,2018,34,18.0,0,0,2446906.0,18.0,18.0,18922.0,18924.0,NaN,NaN,NaN
26840,3,2018,34,21.0,0,0,2455959.0,21.0,21.0,18371.0,NaN,NaN,NaN,NaN

In [27]:
unmatched_ussc['PRISTOT'] = unmatched_ussc['roundSENTTOT']
unmatched_ussc

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
15,9,2018,90,42.0,0,0,2488790.0,42.0,42.0,21846.0,18924.0,21841.0,21851.0,NaN
33,7,2018,90,60.0,0,0,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
34,7,2018,90,60.0,0,0,2482515.0,60.0,60.0,21841.0,18922.0,21841.0,18924.0,NaN
35,7,2018,90,60.0,0,0,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
36,7,2018,90,60.0,0,0,2482515.0,60.0,60.0,21841.0,18922.0,21841.0,18924.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26802,7,2018,34,28.0,0,0,2479209.0,28.0,28.0,81326.0,81326.0,NaN,NaN,NaN
26803,7,2018,34,84.0,0,0,2479021.0,84.0,84.0,21846.0,NaN,NaN,NaN,NaN
26804,1,2018,34,37.0,0,0,2442414.0,37.0,37.0,81326.0,62023.0,62024.0,NaN,NaN
26838,2,2018,34,18.0,0,0,2446906.0,18.0,18.0,18922.0,18924.0,NaN,NaN,NaN
26840,3,2018,34,21.0,0,0,2455959.0,21.0,21.0,18371.0,NaN,NaN,NaN,NaN

In [28]:
fjc_ussc_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
1,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
3,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
4,4366329.0,4,2018,90,0.0,0,0,21846.0,NA,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,4580028.0,7,2018,34,12.0,0,0,1813.0,1813,NA,...,NA,NA,2478495.0,12.0,12.0,21841.0,NaN,NaN,NaN,NaN
23430,4580028.0,7,2018,34,12.0,0,0,1813.0,1813,NA,...,NA,NA,2511256.0,12.0,12.0,386101.0,NaN,NaN,NaN,NaN
23431,4580037.0,4,2018,34,7.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN
23432,4580037.0,4,2018,34,7.0,0,0,81326.0,NA,NA,...,NA,NA,2460323.0,7.0,7.0,81326.0,81326.0,NaN,NaN,NaN
23433,4580079.0,2,2018,34,8.0,0,0,181347.0,NA,NA,...,NA,NA,2447299.0,7.0,8.0,81326.0,62023.0,62024.0,NaN,NaN

In [29]:
dup_id_2 = fjc_ussc_2.loc[fjc_ussc_2.duplicated(subset='ID', keep='last')]
dup_idn_2 = fjc_ussc_2.loc[fjc_ussc_2.duplicated(subset='USSCIDN', keep='last')]
dup_2 = pd.concat([dup_id_2, dup_idn_2], axis=0)
dup_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
2,4366265.0,4,2018,90,0.0,0,0,21846.0,21841,21841,...,21841,21841,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
4,4366329.0,4,2018,90,0.0,0,0,21846.0,NA,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
6,4366527.0,4,2018,90,0.0,0,0,181832.0,NA,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
8,4366767.0,4,2018,90,0.0,0,0,181029.0,NA,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23420,4579824.0,9,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2489743.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23421,4579841.0,9,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2489743.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23423,4579021.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN
23424,4579022.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN
23425,4579023.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN

In [30]:
fjc_ussc_2 = fjc_ussc_2.drop_duplicates(subset='ID', keep='first')
fjc_ussc_2 = fjc_ussc_2.drop_duplicates(subset='USSCIDN', keep='first')
fjc_ussc_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
10,4366037.0,8,2018,90,0.0,0,0,181956.0,21959,NA,...,NA,NA,2486734.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
20,4366537.0,9,2018,90,0.0,0,0,1813.0,18922,NA,...,18922,NA,2490775.0,0.0,0.0,18641.0,NaN,NaN,NaN,NaN
22,4366596.0,8,2018,90,10.0,0,0,18751.0,NA,NA,...,NA,NA,2480713.0,10.0,10.0,21841.0,21841.0,21846.0,NaN,NaN
23,4366598.0,9,2018,90,1.0,0,0,181001.0,NA,NA,...,NA,NA,2495532.0,1.0,1.0,81326.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23416,4579012.0,9,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2489743.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23423,4579021.0,7,2018,34,0.0,0,0,81326.0,NA,NA,...,NA,NA,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN
23427,4580028.0,7,2018,34,12.0,0,0,1813.0,1813,NA,...,NA,NA,2476050.0,12.0,12.0,181035.0,NaN,NaN,NaN,NaN
23431,4580037.0,4,2018,34,7.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN
23433,4580079.0,2,2018,34,8.0,0,0,181347.0,NA,NA,...,NA,NA,2447299.0,7.0,8.0,81326.0,62023.0,62024.0,NaN,NaN

In [31]:
matched = []
no_match = []

for i in range(len(fjc_ussc_2)):
    for j in range(len(fjc_ussc_2)):
        if fjc_ussc_2.iloc[i,7] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,7] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,7] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,7] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,7] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,8] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,8] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,8] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,8] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,8] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,9] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,9] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,9] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,9] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,9] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,10] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,10] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,10] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,10] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,10] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,11] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,11] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,11] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,11] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,11] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,12] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,12] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,12] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,12] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,12] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,13] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,13] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,13] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,13] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,13] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,14] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,14] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,14] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,14] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,14] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,15] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,15] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,15] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,15] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,15] == fjc_ussc_2.iloc[j,24] or fjc_ussc_2.iloc[i,16] == fjc_ussc_2.iloc[j,20] or fjc_ussc_2.iloc[i,16] == fjc_ussc_2.iloc[j,21] or fjc_ussc_2.iloc[i,16] == fjc_ussc_2.iloc[j,22] or fjc_ussc_2.iloc[i,16] == fjc_ussc_2.iloc[j,23] or fjc_ussc_2.iloc[i,16] == fjc_ussc_2.iloc[j,24]:
           matched.append(i)
           break
        else:
            no_match.append(i)
            break

In [32]:
unmatched_2 = pd.merge(unmatched_fjc, unmatched_ussc, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4366018.0,4,2018,90,0.0,0,0,181951.0,22404,NA,...,NA,NA,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146069,NaN,7,2018,18,19.0,1000,0,NaN,NaN,NaN,...,NaN,NaN,2514920.0,19.0,19.0,18922.0,18924.0,NaN,NaN,NaN
146070,NaN,9,2018,44,0.0,350,0,NaN,NaN,NaN,...,NaN,NaN,2514926.0,0.0,0.0,1813.0,NaN,NaN,NaN,NaN
146071,NaN,8,2018,91,82.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2515497.0,82.0,82.0,18922.0,NaN,NaN,NaN,NaN
146072,NaN,8,2018,91,240.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2515560.0,240.0,240.0,181951.0,18924.0,NaN,NaN,NaN
146073,NaN,5,2018,10,70.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2519665.0,70.0,70.0,21846.0,21841.0,NaN,NaN,NaN

In [33]:
matched_2 = fjc_ussc_2.iloc[matched,:]
matched_2.reset_index()

unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9777/2849374613.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_2 = unmatched_2.append(fjc_ussc_2.iloc[no_match,:])

In [34]:
unmatched_fjc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.isna()) >>
drop(unmatched_2.floorSENTTOT, unmatched_2.roundSENTTOT, unmatched_2.USSCIDN, unmatched_2.USSCcode1, unmatched_2.USSCcode2, unmatched_2.USSCcode3, unmatched_2.USSCcode4, unmatched_2.USSCcode5)
)
unmatched_fjc_2

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,FJDcode4,FJDcode5,FJDcode6,FJDcode7,FJDcode8,FJDcode9,FJDcode10
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,NA,NA,21952.0,21952,NA,NA,NA
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,NA,NA,21952.0,21952,NA,NA,NA
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,NA,NA,18922.0,21844,NA,NA,NA
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,21959,21959,21963.0,21960,21960,21959,21959
24,4366103.0,6,2018,90,0.0,0,60,18286.0,NA,NA,NA,NA,18286.0,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77411,4807436.0,10,2018,34,125.0,0,0,21846.0,21846,21841,21841,21841,21846.0,21846,21841,21841,21841
77412,4807442.0,11,2018,34,68.0,0,0,21846.0,21846,NA,NA,NA,21846.0,21846,NA,NA,NA
77413,4807451.0,12,2018,34,180.0,0,0,21846.0,18924,21841,21841,21841,21841.0,21846,21841,18924,21841
77414,4807452.0,12,2018,34,2.0,0,0,21846.0,21841,21841,21843,NA,21843.0,21846,21841,21841,NA
77415,4807515.0,11,2018,34,18.0,0,0,18641.0,NA,NA,NA,NA,18641.0,NA,NA,NA,NA

In [35]:
unmatched_ussc_2 = (unmatched_2 >>
mask(unmatched_2.USSCIDN.notna()) >>
drop(unmatched_2.ID, unmatched_2.FJDcode1, unmatched_2.FJDcode2, unmatched_2.FJDcode3, unmatched_2.FJDcode4, unmatched_2.FJDcode5, unmatched_2.FJDcode5, unmatched_2.FJDcode6, unmatched_2.FJDcode7, unmatched_2.FJDcode8, unmatched_2.FJDcode9, unmatched_2.FJDcode10)
)
unmatched_ussc_2

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
4,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
5,4,2018,90,0.0,0,0,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
6,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
7,4,2018,90,0.0,0,0,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
8,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23416,9,2018,34,0.0,0,0,2489743.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23423,7,2018,34,0.0,0,0,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN
23427,7,2018,34,12.0,0,0,2476050.0,12.0,12.0,181035.0,NaN,NaN,NaN,NaN
23431,4,2018,34,7.0,0,0,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN
23433,2,2018,34,8.0,0,0,2447299.0,7.0,8.0,81326.0,62023.0,62024.0,NaN,NaN

In [36]:
unmatched_ussc_2['PRISTOT'] = unmatched_ussc_2['floorSENTTOT']
unmatched_ussc_2

,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
4,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
5,4,2018,90,0.0,0,0,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
6,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
7,4,2018,90,0.0,0,0,2461003.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
8,4,2018,90,0.0,0,0,2460083.0,0.0,0.0,21841.0,181028.0,21841.0,181028.0,21846.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23416,9,2018,34,0.0,0,0,2489743.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23423,7,2018,34,0.0,0,0,2476093.0,0.0,0.0,81326.0,81326.0,62023.0,NaN,NaN
23427,7,2018,34,12.0,0,0,2476050.0,12.0,12.0,181035.0,NaN,NaN,NaN,NaN
23431,4,2018,34,6.0,0,0,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN
23433,2,2018,34,7.0,0,0,2447299.0,7.0,8.0,81326.0,62023.0,62024.0,NaN,NaN

In [37]:
fjc_ussc_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'])
fjc_ussc_3

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4385027.0,8,2018,8,6.0,0,0,181349.0,181962,181952,...,NA,NA,2492268.0,6.0,7.0,181951.0,NaN,NaN,NaN,NaN
1,4385994.0,8,2018,8,6.0,0,0,18641.0,NA,NA,...,NA,NA,2492268.0,6.0,7.0,181951.0,NaN,NaN,NaN,NaN
2,4385052.0,4,2018,8,1.0,0,0,18641.0,18371,NA,...,NA,NA,2458643.0,1.0,2.0,181546.0,NaN,NaN,NaN,NaN
3,4385447.0,4,2018,8,1.0,0,0,18922.0,NA,NA,...,NA,NA,2458643.0,1.0,2.0,181546.0,NaN,NaN,NaN,NaN
4,4391108.0,1,2018,9,6.0,0,0,181956.0,NA,NA,...,NA,NA,2442538.0,6.0,7.0,42408.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1620,4569019.0,2,2018,31,7.0,0,0,181956.0,181956,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1621,4573815.0,2,2018,31,7.0,0,0,182314.0,NA,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1622,4573815.0,2,2018,31,7.0,0,0,182314.0,NA,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1623,4578809.0,4,2018,34,6.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN
1624,4578809.0,4,2018,34,6.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN

In [38]:
dup_id_3 = fjc_ussc_3.loc[fjc_ussc_3.duplicated(subset='ID', keep='last')]
dup_idn_3 = fjc_ussc_3.loc[fjc_ussc_3.duplicated(subset='USSCIDN', keep='last')]
dup_3 = pd.concat([dup_id_3, dup_idn_3], axis=0)
dup_3

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
5,4394983.0,1,2018,13,9.0,0,0,21841.0,21843,NA,...,NA,NA,2439012.0,9.0,10.0,181341.0,181956.0,NaN,NaN,NaN
7,4406543.0,4,2018,16,8.0,0,0,81326.0,NA,NA,...,NA,NA,2457806.0,8.0,9.0,18641.0,NaN,NaN,NaN,NaN
14,4417090.0,4,2018,22,12.0,0,0,18924.0,NA,NA,...,NA,NA,2459713.0,12.0,13.0,181028.0,181028.0,NaN,NaN,NaN
16,4417228.0,4,2018,22,12.0,0,0,18371.0,NA,NA,...,NA,NA,2459713.0,12.0,13.0,181028.0,181028.0,NaN,NaN,NaN
18,4417256.0,2,2018,22,0.0,0,0,21844.0,NA,NA,...,NA,NA,2445248.0,0.0,1.0,21841.0,21841.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,4551229.0,7,2018,84,8.0,0,0,81326.0,NA,NA,...,NA,NA,2480484.0,8.0,9.0,21841.0,21846.0,NaN,NaN,NaN
1619,4569019.0,2,2018,31,7.0,0,0,181956.0,181956,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1620,4569019.0,2,2018,31,7.0,0,0,181956.0,181956,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1621,4573815.0,2,2018,31,7.0,0,0,182314.0,NA,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
1623,4578809.0,4,2018,34,6.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN

In [39]:
fjc_ussc_3 = fjc_ussc_3.drop_duplicates(subset='ID', keep='first')
fjc_ussc_3 = fjc_ussc_3.drop_duplicates(subset='USSCIDN,', keep='first')
fjc_ussc_3

KeyError: Index(['USSCIDN,'], dtype='object')

In [45]:
matched = []
no_match = []

for i in range(len(fjc_ussc_3)):
    for j in range(len(fjc_ussc_3)):
        if fjc_ussc_3.iloc[i,7] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,7] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,7] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,7] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,7] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,8] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,8] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,8] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,8] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,8] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,9] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,9] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,9] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,9] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,9] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,10] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,10] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,10] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,10] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,10] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,11] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,11] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,11] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,11] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,11] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,12] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,12] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,12] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,12] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,12] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,13] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,13] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,13] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,13] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,13] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,14] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,14] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,14] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,14] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,14] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,15] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,15] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,15] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,15] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,15] == fjc_ussc_3.iloc[j,24] or fjc_ussc_3.iloc[i,16] == fjc_ussc_3.iloc[j,20] or fjc_ussc_3.iloc[i,16] == fjc_ussc_3.iloc[j,21] or fjc_ussc_3.iloc[i,16] == fjc_ussc_3.iloc[j,22] or fjc_ussc_3.iloc[i,16] == fjc_ussc_3.iloc[j,23] or fjc_ussc_3.iloc[i,16] == fjc_ussc_3.iloc[j,24]:
           matched.append(i)
           break
        else:
            no_match.append(i)
            break

In [46]:
unmatched_3 = pd.merge(unmatched_fjc_2, unmatched_ussc_2, on=['SENTMON', 'SENTYR', 'DISTRICT', 'PRISTOT', 'FINETOT', 'PROBTOT'], how='outer')
unmatched_3

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
0,4365582.0,2,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4365583.0,5,2018,90,9996.0,0,0,21952.0,21952,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4365752.0,6,2018,90,86.0,36,0,18922.0,21844,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4365799.0,2,2018,90,144.0,0,0,21963.0,21960,21960,...,21959,21959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4366103.0,6,2018,90,0.0,0,60,18286.0,NA,NA,...,NA,NA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160148,NaN,7,2018,18,19.0,1000,0,NaN,NaN,NaN,...,NaN,NaN,2514920.0,19.0,19.0,18922.0,18924.0,NaN,NaN,NaN
160149,NaN,9,2018,44,0.0,350,0,NaN,NaN,NaN,...,NaN,NaN,2514926.0,0.0,0.0,1813.0,NaN,NaN,NaN,NaN
160150,NaN,8,2018,91,82.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2515497.0,82.0,82.0,18922.0,NaN,NaN,NaN,NaN
160151,NaN,8,2018,91,240.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2515560.0,240.0,240.0,181951.0,18924.0,NaN,NaN,NaN
160152,NaN,5,2018,10,70.0,0,0,NaN,NaN,NaN,...,NaN,NaN,2519665.0,70.0,70.0,21846.0,21841.0,NaN,NaN,NaN

In [47]:
matched_3 = fjc_ussc_3.iloc[matched,:]
matched_3.reset_index()

unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

/var/folders/r7/bqljw8h17hsc6g3m8ck8vhjc0000gn/T/ipykernel_9411/3400029661.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  unmatched_3 = unmatched_3.append(fjc_ussc_3.iloc[no_match,:])

In [48]:
matched_2018 = pd.concat([matched_1, matched_2, matched_3], axis=0)
matched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
3,4366344.0,7,2018,90,60.0,0,0,21846.0,NA,NA,...,NA,NA,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
5,4366355.0,1,2018,90,18.0,0,0,21846.0,21846,21843,...,21843,NA,2442164.0,18.0,18.0,18922.0,18924.0,NaN,NaN,NaN
7,4366380.0,1,2018,90,180.0,0,0,21846.0,21846,21846,...,21846,18924,2442520.0,180.0,180.0,21841.0,18922.0,21841.0,18924.0,NaN
8,4366389.0,1,2018,90,78.0,0,0,21846.0,21846,21846,...,NA,NA,2441473.0,78.0,78.0,182252.0,182252.0,NaN,NaN,NaN
10,4366406.0,4,2018,90,60.0,0,0,18924.0,18924,21841,...,18922,18922,2458364.0,60.0,60.0,21841.0,21841.0,21841.0,21841.0,182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23392,4578932.0,6,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23398,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,21841,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23401,4578937.0,5,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2462672.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2287,4535508.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,18111,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN
2288,4535512.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,181951,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN

In [49]:
matched_2018.drop_duplicates(subset=['USSCIDN', 'ID'])
matched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
3,4366344.0,7,2018,90,60.0,0,0,21846.0,NA,NA,...,NA,NA,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
5,4366355.0,1,2018,90,18.0,0,0,21846.0,21846,21843,...,21843,NA,2442164.0,18.0,18.0,18922.0,18924.0,NaN,NaN,NaN
7,4366380.0,1,2018,90,180.0,0,0,21846.0,21846,21846,...,21846,18924,2442520.0,180.0,180.0,21841.0,18922.0,21841.0,18924.0,NaN
8,4366389.0,1,2018,90,78.0,0,0,21846.0,21846,21846,...,NA,NA,2441473.0,78.0,78.0,182252.0,182252.0,NaN,NaN,NaN
10,4366406.0,4,2018,90,60.0,0,0,18924.0,18924,21841,...,18922,18922,2458364.0,60.0,60.0,21841.0,21841.0,21841.0,21841.0,182.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23392,4578932.0,6,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23398,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,21841,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23401,4578937.0,5,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2462672.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
2287,4535508.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,18111,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN
2288,4535512.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,181951,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN

In [50]:
matched_2018.to_csv('matched_2018.csv', index=False)

In [51]:
unmatched_2018 = pd.concat([dup, dup2, dup3, unmatched, unmatched_2, unmatched_3], axis=0)
unmatched_2018

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
1,4366322.0,7,2018,90,60.0,0,0,18922.0,NA,NA,...,NA,NA,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
3,4366344.0,7,2018,90,60.0,0,0,21846.0,NA,NA,...,NA,NA,2478769.0,60.0,60.0,182252.0,182252.0,NaN,NaN,NaN
8,4366389.0,1,2018,90,78.0,0,0,21846.0,21846,21846,...,NA,NA,2441473.0,78.0,78.0,182252.0,182252.0,NaN,NaN,NaN
13,4366429.0,2,2018,90,0.0,0,36,21841.0,21841,21841,...,18924,18924,2449498.0,NaN,NaN,181708.0,NaN,NaN,NaN,NaN
15,4366620.0,2,2018,90,0.0,0,36,18371.0,NA,NA,...,NA,NA,2449498.0,NaN,NaN,181708.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2647,4554338.0,9,2018,87,6.0,0,0,21841.0,NA,NA,...,NA,NA,2492066.0,6.0,7.0,42408.0,181546.0,NaN,NaN,NaN
2649,4561168.0,3,2018,29,4.0,0,0,81326.0,NA,NA,...,NA,NA,2452365.0,4.0,5.0,81326.0,NaN,NaN,NaN,NaN
2650,4569019.0,2,2018,31,7.0,0,0,181956.0,181956,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
2652,4573815.0,2,2018,31,7.0,0,0,182314.0,NA,NA,...,NA,NA,2448308.0,7.0,8.0,18922.0,18924.0,NaN,NaN,NaN
2654,4578809.0,4,2018,34,6.0,0,0,81326.0,NA,NA,...,NA,NA,2458187.0,6.0,7.0,18922.0,18924.0,NaN,NaN,NaN

In [52]:
unmatched_2018.to_csv('unmatched_2018.csv', index=False)

In [56]:
matched_2018.loc[matched_2018.duplicated(subset='USSCIDN', keep=False)]

,ID,SENTMON,SENTYR,DISTRICT,PRISTOT,FINETOT,PROBTOT,FJDcode1,FJDcode2,FJDcode3,...,FJDcode9,FJDcode10,USSCIDN,floorSENTTOT,roundSENTTOT,USSCcode1,USSCcode2,USSCcode3,USSCcode4,USSCcode5
18,4366443.0,1,2018,90,70.0,0,0,21841.0,21841,NA,...,NA,NA,2444987.0,70.0,70.0,18922.0,18924.0,NaN,NaN,NaN
19,4366444.0,1,2018,90,70.0,0,0,21841.0,21841,NA,...,NA,NA,2444987.0,70.0,70.0,18922.0,18924.0,NaN,NaN,NaN
30,4366485.0,9,2018,90,60.0,0,0,18924.0,21841,21841,...,21841,21841,2488336.0,60.0,60.0,18922.0,18924.0,NaN,NaN,NaN
32,4366684.0,9,2018,90,60.0,0,0,21841.0,21841,21841,...,21841,21841,2488336.0,60.0,60.0,18922.0,18924.0,NaN,NaN,NaN
34,4366766.0,9,2018,90,60.0,0,0,21841.0,NA,NA,...,NA,NA,2488336.0,60.0,60.0,18922.0,18924.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23282,4578514.0,5,2018,33,0.0,0,0,21841.0,21846,NA,...,NA,NA,2465198.0,0.0,0.0,81326.0,NaN,NaN,NaN,NaN
23392,4578932.0,6,2018,34,0.0,0,0,21846.0,21841,NA,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
23398,4579662.0,6,2018,34,0.0,0,0,21846.0,21841,21841,...,NA,NA,2470013.0,0.0,0.0,81326.0,81326.0,NaN,NaN,NaN
2287,4535508.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,18111,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN
2288,4535512.0,9,2018,78,0.0,0,0,18924.0,181951,18111,...,181951,18115,2488641.0,0.0,1.0,21844.0,NaN,NaN,NaN,NaN